  channel-strip {
    width: 10vw;
    height: 90vh;
    text-align: center;
    display: inline-block;
    outline: 4px dashed #444;
  }

  channel-strip [name=fader] {
    transform: rotate(90deg)
  }
