@import 'typography.css';
/*
  - normalize.css
    https://www.reddit.com/r/webdev/comments/8q269x/is_css_reset_necessary_still_in_2018/
 
  - sanitize.css
    https://github.com/csstools/sanitize.css/blob/master/sanitize.css
*/

body, * {
  /* margin: 0 auto; */
  padding: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
 h1 {
  font-size: 2rem;
  margin: 0.67rem inherit;
}
/* ----------------------- */



html {
  cursor: default;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align:  inherit;
}

body {
  
}