@import 'colors.css';
@import 'typography.css';

/*
  - normalize.css
    https://www.reddit.com/r/webdev/comments/8q269x/is_css_reset_necessary_still_in_2018/
 
  - sanitize.css
    https://github.com/csstools/sanitize.css/blob/master/sanitize.css
*/

/* cursors - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */

html
  { cursor: default; }

abbr[title]
  { cursor: help; }
button
  { cursor: pointer; }
progress
  { cursor: progress; }

/* https://css-tricks.com/almanac/selectors/s/selection/ */
::-moz-selection {
  text-shadow: none;
  color: var(--background);
  background-color: var(--color);
}

::selection {
  text-shadow: none;
  color: var(--background);
  background-color: var(--color);
}

/* boxing */
html
  { box-sizing: border-box; }

*, ::before, ::after, *:before, *:after
  /* https://stackoverflow.com/questions/7327326/what-is-the-difference-between-before-and-before */
  { box-sizing: inherit; }

main {
  display: block;
  max-width: 1200px;
  background: green;
}

hr { /* https://www.lifewire.com/styling-horizontal-rule-tag-3466399 */
  height: .1em;
  overflow: visible;
  color: var(--color);
  margin-bottom: 1.612em;
  background: var(--color);
}

/* media elements */
img
  { width: 100%; height: auto; }

audio, canvas, iframe, img, svg, video
  { vertical-align: middle; }