@import 'typography.css';

/*
  - normalize.css
    https://www.reddit.com/r/webdev/comments/8q269x/is_css_reset_necessary_still_in_2018/
 
  - sanitize.css
    https://github.com/csstools/sanitize.css/blob/master/sanitize.css
*/

/* boxing */
*, ::before, ::after, *:before, *:after
  /* https://stackoverflow.com/questions/7327326/what-is-the-difference-between-before-and-before */
  { box-sizing: inherit; }

/* cursors - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
html
  { cursor: default; }

abbr[title]
  { cursor: help; }
progress
  { cursor: progress; }

html {
  box-sizing: border-box;
}

main {
  display: block;
  max-width: 1200px; 
  background: green;
}