<!doctype html>

<title>devPunks - A pretty good splash page template!</title>

<meta charset=utf-8 ><!-- Must appear first! https://code.google.com/archive/p/doctype-mirror/wikis/ArticleUtf7.wiki -->
<!-- https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag -->
<meta name=viewport content=width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=0.86 >


<link rel=canonical href=/ >
<link rel='preload stylesheet' as=style href=index.css />

<!--
  PWA Checklist - https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md

  P.W.A. Guidelines for iOS
  - https://dev.to/oskarlarsson/designing-native-like-progressive-web-apps-for-ios-510o
  - https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8
  - Splash screen generator - https://appsco.pe/developer/splash-screens
-->

<!-- From AppSco.pe generator -->
<link href="splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

<!-- ================================================================================================================== -->

<!-- iPhone X (1125px x 2436px) -->
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/apple-launch-1125x2436.png">

<!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/apple-launch-750x1334.png">

<!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="/apple-launch-1242x2208.png">

<!-- iPad Mini, Air (1536px x 2048px) -->
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="/apple-launch-1536x2048.png">

<!-- iPad Pro 10.5" (1668px x 2224px) -->
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="/apple-launch-1668x2224.png">

<!-- iPad Pro 12.9" (2048px x 2732px) -->
<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="/apple-launch-2048x2732.png">

<!-- CSS page transitions allows :hover and :active to work
  - https://dev.webonomic.nl/fixing-the-iphone-css-hover-problem-on-ios
  - https://stackoverflow.com/questions/8330559/hover-effects-using-css3-touch-events
  - https://www.beacontechnologies.com/blog/2015/05/simple-little-tricks-for-web-transition-touch-events-on-mobile-devices/
-->
<body role=application tabIndex=0 >

<!-- Skip Nav Links - https://a11yproject.com/posts/skip-nav-links/ -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Skip_links -->
<a title=Skip href=#main>Skip to main content</a>

<header role=banner>
  <!-- Masthead content -->
  <a id=logo>devPunks</a>
  <em>A pretty good splash page template!</em>
</header>

<nav>
  <!-- Navigation menu -->
</nav>

<h1><!-- Main heading --></h1>

<main id=main>
  <!-- Main content -->
</main>

<footer role=contentinfo>
  <!-- Footer content -->
</footer>
