/* Remove tapping delay */
a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action:     manipulation
}

/* cursors - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
button, [type=submit], [type=button], [type=reset]
  { cursor: pointer }
progress
  { cursor: progress }
[disabled]
  { cursor: not-allowed }

fieldset, [type=radio], [type=checkbox]{
  min-width: 0; /* See https://github.com/twbs/bootstrap/issues/12359 */
  border:    0;
  margin:    0;
  padding:   0
}
[type=date], [type=time], [type=datetime-local], [type=month]
/* https://bugs.webkit.org/show_bug.cgi?id=139848
  and https://github.com/twbs/bootstrap/issues/11266 */
 { -webkit-appearance: listbox }

select
  /* Remove inheritance word wrap in Safari https://github.com/twbs/bootstrap/issues/24990 */
  { word-wrap: normal }

button, [type=button], [type=reset], [type=submit]
{
  border-radius: 0; /* https://github.com/twbs/bootstrap/issues/24093 */
  -webkit-appearance: button;
  appearance:         button
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  -moz-appearance:    button;
  appearance:         button
}
::-moz-file-upload-button {
  -webkit-appearance: button;
  -moz-appearance:    button;
  appearance:         button
}
button:focus {
/* transparent `button` background results in a loss of the default `button` focus styles */
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

button, input, select {
  overflow: visible; /* Show the overflow in Edge */
  text-transform: none; /* Remove the inheritance of text transform in Firefox */
}

label
  { display: inline-block }

textarea {
  overflow: auto; /* Remove IE vertical scrollbar. */
  resize: vertical;
}

details
  { display: block }
summary
  { display: list-item }

dialog {
  left: 0;
  right: 0;
  margin: auto;
  border: solid;
  display: block;
  position: absolute;

  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content
}

dialog:not([open])
  { display: none }

[hidden]
  { display: none }

