  channel-strip {
    color: #aaa;
    width: 5vw;
    height: 90vh;
    text-align: center;
    display: inline-block;
    outline: 4px dashed #444;
  }


/* fader.css */
  channel-strip [name=fader] {
    transform: rotate(90deg)
  }
