/* accessibility.css
 * 
 * ARIA Roles - https://w3.org/WAI/PF/aria/roles
 * WAI-ARIA guide - https://github.com/w3c/aria-practices
 * WAI-ARIA Co-Evolution - https://w3c.github.io/aria/#co-evolution
 * Standards Guidelines - https://w3.org/WAI/standards-guidelines/wcag
 * WCAG (Web Content Accessibility Guidelines) - https://w3.org/TR/WCAG21
 * AOM (Accessibility Object Model) - https://github.com/WICG/aom/blob/gh-pages/explainer.md
 * Focus Indicators - https://deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators
 * User Agent implementation guide - https://w3.org/WAI/PF/aria-implementation/#def_accessibility_api
 * Aria Roles States and Properties
 *  - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles
 *  - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques
 *
 * Tools
 *   - Accessibility Inspector - https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector
 *   - Keyboard - https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard
 *   - Handling Accessibility Problems
 *     - https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Accessibility
 *
 * MS High Contrast
 *   - http://www.gwhitworth.com/blog/2017/04/how-to-use-ms-high-contrast
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/-ms-high-contrast
 */

@media screen and ( -ms-high-contrast: active )
  { /* All high contrast styling rules */ }
@media screen and ( -ms-high-contrast: black-on-white )
  { /* Rules for users using black-on-white */ }
@media screen and ( -ms-high-contrast: white-on-black )
  { /* Rules for users using white-on-black */ }

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors */
@media screen and ( forced-colors: active ) { }

*::before, *::after, *::marker {
  outline: 0;
  cursor: default;
}

/* SELECTED */
/* https://github.com/w3c/csswg-drafts/issues/10212 */
::search-text, ::selection {
  color: Canvas;
  background: CanvasText;
}
::-moz-selection {
  color: Canvas;
  background: CanvasText;
}

/* TARGETED */
::target-text {
  color: Canvas;
  background-color: CanvasText;
}
/* FOCUSED */
/* https://allyjs.io/data-tables/focusable.html */
/* Restore focus outline - https://github.com/necolas/normalize.css/issues/481 */
:-moz-focusring { outline: 1px dotted ButtonText }
::-moz-focus-inner { /* Remove the inner border and padding of focus outlines in Firefox */
  padding: 0;
  border-style: none;
}
:focus-visible, [aria-disabled=false]:focus-visible {
  /*
    - https://hidde.blog/focus-visible-more-than-keyboard
    - https://w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F78
    - https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
    - https://deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators
    - https://w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-visible.html
  */
  z-index: 1;
  outline-offset: 0.2ch;
  outline: 0.3ch dashed;

  p[contenteditable]& {
    border-radius: 0.681ch;
    outline-offset: 0.681ch;
  }
}
/* https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page */
html:focus-within { scroll-behavior: smooth }

/* ACTIVE */
:enabled:active, [role=button]:active {
  /*
    - https://developer.mozilla.org/en-US/docs/Web/CSS/:active
    - https://usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
  */
  outline-offset: 0;
  filter: contrast(1.1); /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/contrast */
}

[tabindex='-1']:focus
  { outline: 0 }
[aria-controls]
  { cursor: pointer }
[aria-busy=true]
  { cursor: progress }
[aria-disabled=true]
  {cursor: not-allowed }

[accesskey] {}
[accesskey]::before {}

[accesskey]:hover::after,
[aria-label]:hover::after,
[accesskey]:focus-visible::after,
[aria-label]:focus-visible::after {
  left: 0;
  top: 100%;
  z-index: 1;
  opacity: 0.8;
  cursor: default;
  font-size:medium;
  padding: 0.681ch;
  background: Canvas;
  position: absolute;
  display: list-item;
  border-radius: 0.5em;
  min-width: max-content;
  list-style-type: 'ⓘ';
  list-style-position: inside;
  line-height: var(--line-height);
}
[aria-label]:hover::after, [aria-label]:focus-visible::after {
  content: attr(aria-label);
}
[accesskey]:hover::after, [accesskey]:focus-visible::after {
  content: attr(accesskey);
}
[aria-label][accesskey]:hover::after,
[aria-label][accesskey]:focus-visible::after {
  content: attr(accesskey) ' - ' attr(aria-label);
}

/* LINK
  - https://github.com/w3c/wcag/issues/905
  - https://developer.mozilla.org/en-US/docs/Web/CSS/:any-link
  - https://www.w3.org/TR/CSS22/selector.html#link-pseudo-classes
  = https://blog.selfthinker.org/2011/07/10/trick-question-how-many-link-states-can-be-defined-in-css/
*/
a, a:link, a:any-link {color: -webkit-link;}
a:visited { color: blue }
/* DYNAMIC - https://w3.org/TR/CSS22/selector.html#dynamic-pseudo-classes */
a:hover { color: green }
a:focus { color: magenta }
a:focus:hover { color: cyan }
a:active { color: red }

nav > dl, nav > ol, nav > ul {
  opacity: 0.7;
  background: rgba(255,255,255,0.5);
}
nav > dl:hover, nav > ol:hover, nav > ul:hover,
nav > dl:focus-within, nav > ol:focus-within, nav > ul:focus-within {
  opacity: 1.0;
}

nav a:hover, nav a:focus-visible, nav [aria-disabled=false]:focus-visible {
  background: inherit;
}

/* LANDMARKS - https://w3c.github.io/aria/#landmark */
[role=form], body form {}
[role=main], body > main {}
[role=banner], body > header {}
[role=navigation], body > nav {/* outline: 1ch dashed yellow; */}
[role=contentinfo], body > footer {}
[role=complementary], body > aside {}
[role=search], form[role=search], search {}
[role=application], body > main[role=application] {}

body > a[href='#main'] { /* skip link */
  padding: 0;
  filter: invert(1);
  text-align: center;
  background: Canvas;
  clip-path: inset(50%);
  box-shadow: var( --box-shadow );
  height: var(--margin-collapse-bugfix);
}
body > a[href='#main']:focus-visible {
  height: unset;
  clip-path: unset;
  padding: var(--line-height);
}
body > a[href='#main']:focus-visible:hover {
  filter: unset;
}
a[href='#'][title^=Top] {
  /* opacity: 0.681; */
  background: red;
  /* margin-block: auto; */
  /* margin: 2em auto; */
  display: list-item; */
  em; */
  list-style-type: 'Foo';
}
a[href='#']:hover {opacity: 1;}

[role=none], [role=none] li {
  /*
    - https://piccalil.li/blog/a-modern-css-reset
    - https://bugs.webkit.org/show_bug.cgi?id=193382
    - https://bugs.webkit.org/show_bug.cgi?id=170179
    - https://yatil.net/blog/much-ado-about-no-lists
    - https://x.com/cookiecrook/status/1337226933822603270
    - https://scottohara.me/blog/2019/01/12/lists-and-safari.html
    - https://github.com/WebKit/webkit/blob/main/Source/WebCore/accessibility/AccessibilityList.cpp#L147
  */
  list-style: none;
}
[role=presentation],
[role=presentation] li {
  list-style-type: none;
}
[role=presentation],
[role=presentation] li::before {
  content: '\200B'; /* add zero-width space */
  border-inline-start: 0.3ch solid;
}

mark::before,
mark::after {
  color: red;
  /* width: 0ch; */
  /* overflow: auto; */
  /* clip-path: inset(50%); */
}
mark::before { content: '[highlight start]' }
mark::after  { content: '[highlight end]' }

meter::before, progress::before,
meter::after, progress::after {
  content: '\00a0';
  background: red;
  margin-block: 1ch;
  border-radius: 1ch;
  white-space: nowrap;
  padding-inline: 1ch;
  display: inline-block;
  outline-offset: .1682ch;
  outline: 2px solid blue;
  line-height: var(--line-height);
}
[min]::before { content: attr(min) }
[low]::before { content: ' ('attr(low) ') ' }
[min][low]::before { content: attr(min) ' ('attr(low) ') ' }

meter[value]::before, progress[value]::before
  { content: '=' attr(value) }

[high]::after { content: ' ('attr(high) ') ' }
[max]::after { content: attr(max) }
[max][high]::after { content: '(' attr(high) ') 'attr(max) }


meter[title]::after, progress[title]::after
  { content: attr(title) }

[min][title]::before
  { content: 'minimum ' attr(min) }
[low][title]::before
  { content:  'above  ('attr(low) ') ' }
[min][low][title]::before
  { content: 'minimum ' attr(min) ' above ('attr(low) ') ' }

[high][title]::after
  { content: 'below (' attr(high) ') ' attr(title) }
[max][title]::after
  { content: 'out of ' attr(max) ' ' attr(title) }
[high][max][title]::after
  { content: 'below (' attr(high) ') out of ' attr(max) ' ' attr(title) }

/* Pointer events - USE TO DISABLE RIGHT CLICK!
  - https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
*/
// html * { pointer-events: none }
