/* accessibility.css
 * 
 * ARIA Roles - https://www.w3.org/WAI/PF/aria/roles
 * WAI-ARIA guide - https://github.com/w3c/aria-practices
 * WCAG (Web Content Accessibility Guidelines) - https://www.w3.org/TR/WCAG21/
 * AOM (Accessibility Object Model) - https://github.com/WICG/aom/blob/gh-pages/explainer.md
 * User Agent implementation guide - https://www.w3.org/WAI/PF/aria-implementation/#def_accessibility_api
 * Focus Indicators - https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/
 * Aria Roles States and Properties - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques
 *
 * Tools
 *   - Accessibility Inspector - https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector
 *   - Keyboard - https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard
 *   - Handling Accessibility Problems
 *     - https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Accessibility
 *
 * MS High Contrast
 *   - http://www.gwhitworth.com/blog/2017/04/how-to-use-ms-high-contrast/
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/-ms-high-contrast
 */

@media screen and (-ms-high-contrast: active)
  { /* All high contrast styling rules */ }
@media screen and (-ms-high-contrast: black-on-white)
  { /* Rules for users using black-on-white */ }
@media screen and (-ms-high-contrast: white-on-black)
  { /* Rules for users using white-on-black */ }

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors */
@media screen and (forced-colors: active) { }

/* FOCUSED */
:focus-visible, [aria-disabled=false]:focus-visible
{
/*
  - https://hidde.blog/focus-visible-more-than-keyboard/
  - https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F78
  - https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
  - https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-visible.html
  - https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/
*/
  outline-offset: 0.168em;
  outline: 0.168em dashed currentColor;
}

/* ACTIVE */
:enabled:active, [role=button]:active {
  /*
    - https://developer.mozilla.org/en-US/docs/Web/CSS/:active
    - https://usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
  */
  outline-offset: 0;
  filter: contrast(1.1); /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/contrast */
}

/* LANDMARKS */
[role=banner] {}
[role=search] {}
[role=main]   {}
[role=form]   {}
[role=contentinfo] {}
[role=application] {}


[tabindex='-1']:focus
  { outline: 0 }
[aria-controls]
  { cursor: pointer }
[aria-busy=true]
  { cursor: progress }
[aria-disabled=true]
  { cursor: not-allowed }

body > a[rel=help] { /* skip link */
  position: fixed; /* https://developer.mozilla.org/en-US/docs/Web/CSS/position#fixed_positioning */
  background: canvas;
  clip-path: inset(50%);
  margin: var(--line-height);
  padding: var(--line-height);
  box-shadow: var(--box-shadow);
}
[href='#main']:focus-visible {
  clip-path: unset;
}
a[href='#'][title^=Top]
  { opacity: 0.3 }
a[href='#']:hover
  { opacity: 1 }


/* Pointer events - USE TO DISABLE RIGHT CLICK!
  - https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
*/
// html * { pointer-events: none }