/*
 * CSS Animations
 *
 * https://css-tricks.com/almanac/properties/a/animation/
 * https://css-tricks.com/almanac/properties/t/transition/
 * https://css-tricks.com/making-css-animations-feel-natural/
 * https://www.smashingmagazine.com/2012/02/mission-transition/
 * transition - https://developer.mozilla.org/en-US/docs/Web/CSS/transition
 * prefers-reduced-motion - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
 * https://openclassrooms.com/en/courses/5625816-create-modern-css-animations/5819321-use-timing-functions-to-create-more-natural-animations
 */

@media (prefers-reduced-motion: reduce) {

  body * {
    animation: none;
    transition: unset
  }
}

input:invalid {
  animation: 0.4s linear infinite alternate border-pulse;
}

@keyframes border-pulse {
  from {
    border-color: currentColor
  }

  to {
    border-color: transparent
  }
}
