/* animation.css
 *
 * Performance
 *  - https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS#animating_on_the_gpu
 *  - https://developer.mozilla.org/en-US/docs/Web/Performance/CSS_JavaScript_animation_performance

@media (prefers-reduced-motion: reduce) {

  body * {
    animation: none;
    transition: unset
  }
}

input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown), input:out-of-range:not(:placeholder-shown), select:invalid:not(:placeholder-shown), [aria-invalid=true]:not(:placeholder-shown) {
  animation: 0.4s linear infinite alternate border-pulse;
}

@keyframes border-pulse {
  from {
    border-color: currentColor
  }

  to {
    border-color: transparent
  }
}
