/* animation.css
 *  - https://en.wikipedia.org/wiki/12_basic_principles_of_animation
 * Performance
 *  - https://dev.opera.com/articles/css-will-change-property
 *  - https://developer.mozilla.org/en-US/docs/Web/CSS/will-change
 *  - https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS#animating_on_the_gpu
 *  - https://developer.mozilla.org/en-US/docs/Web/Performance/CSS_JavaScript_animation_performance

 * CSS Animations
 *  - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
 *  - https://github.com/enkidevs/curriculum/tree/master/web/styling/animations
 *  - https://github.com/enkidevs/curriculum/tree/master/web/styling/css-animation
 *  - https://css-tricks.com/almanac/properties/a/animation
 *  - https://css-tricks.com/almanac/properties/t/transition
 *  - https://css-tricks.com/making-css-animations-feel-natural
 *  - https://smashingmagazine.com/2012/02/mission-transition
 *  - https://css-tricks.com/using-multi-step-animations-transitions
 *  - transition - https://developer.mozilla.org/en-US/docs/Web/CSS/transition
 *  - https://openclassrooms.com/en/courses/5625816-create-modern-css-animations/5819321-use-timing-functions-to-create-more-natural-animations

 * Media Queries
 *  - Media Queries 5 specification
 *  - https://davidwalsh.name/animate-media-queries
 *  - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

 * 3D
 *  - https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style
 */

:root {
  /*
    - https://nerdy.dev/interpolate-size
    - https://developer.chrome.com/docs/css-ui/animate-to-height-auto
    - https://developer.mozilla.org/en-US/docs/Web/CSS/interpolate-size
  */
  interpolate-size: allow-keywords;
}
@media ( prefers-reduced-motion: no--preference ) {
  html { scroll-behavior: smooth }
}
@media ( prefers-reduced-motion: reduce ) {
  /* https://piccalil.li/blog/a-modern-css-reset/ */
  *, *::before, *::after {
    scroll-behavior: auto !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
  html:focus-within {
    scroll-behavior: auto;
  }
  body * {
    animation: none;
    transition: unset
  }
}


/* :hover CSS page transitions allows :hover and :active to work
  - https://dev.webonomic.nl/fixing-the-iphone-css-hover-problem-on-ios
  - https://stackoverflow.com/questions/8330559/hover-effects-using-css3-touch-events
  - https://www.beacontechnologies.com/blog/2015/05/simple-little-tricks-for-web-transition-touch-events-on-mobile-devices/
*/

@media (any-hover) and (hover) { }


input:not(:focus):not(:placeholder-shown):invalid,
select:not(:focus):not(:placeholder-shown):invalid,
textarea:not(:focus):not(:placeholder-shown):invalid,
input:not(:focus):out-of-range:not(:placeholder-shown):invalid,
[aria-invalid=true]:not(:focus):not(:placeholder-shown):invalid {
  animation: 0.4s linear infinite alternate border-pulse;
}

@keyframes border-pulse {
  from {
    box-shadow: inset 0 0 0 0.168ch currentColor;
  }

  to {
    box-shadow: inset 0 0 0 0.168ch transparent;
  }
}
