/*
 * CSS colors - https://www.w3.org/TR/2018/REC-css-color-3-20180619/
 * Native color chart - https://www.w3.org/TR/2018/REC-css-color-3-20180619/#svg-color
 * CSS UN-deprecates system colors - https://github.com/w3c/csswg-drafts/issues/3804
 * CSS4 System Colors - https://www.w3.org/TR/css-color-4/#css-system-colors

   - ButtonFace - Face color for 3D display elements
   - ButtonText - Text on push buttons
   - Canvas
   - GrayText
   - Highlight
   - HighlightText
   - LinkText
   - Text
   - VisitedText

   Magenta - https://en.wikipedia.org/wiki/Shades_of_magenta
   Orchid  - https://en.wikipedia.org/wiki/Orchid_(color)
   Fuchsia - https://en.wikipedia.org/wiki/Fuchsia_(color)
   Gainsboro - https://en.wikipedia.org/wiki/Shades_of_gray#Gainsboro
   Grey - https://en.wikipedia.org/wiki/Shades_of_gray
   Black   - https://en.wikipedia.org/wiki/Black

  * mix-blend-mode - https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode
*/

:root {
  --background-color: rgba(10,10,10, 0.8);
  --color:            rgba(240,240,240, 0.8);
  --lightest-color:   rgba(255,255,255,0.9);
  --lighter-color:    rgba(245,245,245,0.8);
  --darker-color:     rgba(200,200,200, 0.8);
  --darkest-color:    rgba(180,180,180, 0.7);
  --a:                rgba(231,47,188,0.8); /* #E72FBC */
  --a\:hover:         rgba(231,47,188,1.0)
}

/* ----------------------------------------------------- */

/* https://css-tricks.com/almanac/selectors/s/selection/ */
::-moz-selection {
  color: var(--background-color);
  background-color: var(--color)
}

::selection {
  color: var(--background-color);
  background-color: var(--color)
}

::backdrop
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop */
  { background-color: var(--background-color) }

html {
  color:            var(--color);
  background-color: var(--background-color)
}

body > aside {
  color: var(--background-color);
  background-color: var(--color)
}

hr { /* https://www.lifewire.com/styling-horizontal-rule-tag-3466399 */
  color:            var(--color);
  background-color: currentColor
}

a:link,
a:active,
a:visited
  { color: var(--a) }

a:hover
  { color: var(--a\:hover) }

a.logo, a.logo:link, a.logo:active, a.logo:visited {
  color: var(--color)
}

legend
  { color: inherit; /* IE */ }

dialog {
  color: var(--background-color);
  background-color: var(--color)
}

table
  { outline-color: var(--darkest-color) }
table
  thead {
    background: var(--color);
    color: var(--background-color)
}
table
  tr:nth-child(odd) {
    color: var(--background-color);
    background-color: var(--color)
}
pre, code, kbd, samp {
  color: var(--lightest-color);
  background: var(--darkest-color)
}