/*
 * Form Input Types - https://developer.mozilla.org/en-US/docs/Learn/Forms/HTML5_input_types
 * Form Validation - https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
 * Web Aim Creating Accessible Forms - https://webaim.org/techniques/forms/controls
 * Styling Web Forms - https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms
 * Advanced Form Styling - https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_stylin
 * Styling Form Pseudo Elements - https://www.tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_range
 *
 * Web Form Usability (Top 10 Practices) - https://www.nngroup.com/articles/web-form-design
 * A Form of Madness - http://diveintohtml5.info/forms.html
 * Styling - https://www.quirksmode.org/blog/archives/2017/12/native_form_val.html
 */

/* Viewport Sizes - https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html */
@media screen and (min-width: 786px) { :root { } }

/* accessible placeholders & labels - https://www.nngroup.com/articles/form-design-placeholders/ */
::placeholder { } /* 4.5:1 contrast ratio for ARIA */

/* Remove tapping delay
 *   https://css-tricks.com/almanac/properties/t/touch-action/
 *   https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
 */
a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action:     manipulation
}


/* Form proximity effect
     - https://www.nngroup.com/articles/form-design-white-space/?lm=form-design-placeholders&pt=article
*/
form {
  margin: var(--margin);
  max-width: var(--max-width);
  flex-direction: var(--flex-direction);
  caret-color: currentcolor; /* https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color */
}
form[autocomplete] {
  columns: 2;
  column-gap: 0;
  background: orange;
}
form:focus-within { }
fieldset:focus-within { }
/*
  - https://thatemil.com/blog/2017/07/01/fixing-fieldsets/
  - https://adrianroselli.com/2022/07/use-legend-and-fieldset.html
*/
fieldset {
   /* box-sizing: border-box; */
   max-width: 100%;

   /* See https://github.com/twbs/bootstrap/issues/12359 */
   /* border: solid currentColor; */

  /* THIS IS A BUG - https://bugs.chromium.org/p/chromium/issues/detail?id=375693 */
   /* border: none; */
   margin: var(--margin);
}
fieldset[disabled] {}
legend { /* https://thatemil.com/blog/2017/07/01/fixing-fieldsets/ */
  border: inherit;
  background: inherit;
  /* display: contents; */
}
fieldset input
  { }
fieldset ul, fieldset ol, fieldset dl
  { }
fieldset li
  { }

form details {
  padding: 0;
}

/*
 * - https://www.w3.org/TR/WCAG20-TECHS/H44.html
*/
label {
  background:  green;
  display: block;
  display: inline-block;
  display: inline-flex;
  /* justify-content: flex-end; */
  flex-direction: var(--flex-direction);
  /* padding: 1ch; */
  text-align: var(--text-align);
  box-sizing: border-box;
  white-space: nowrap;
}
/*
 * - https://www.w3.org/TR/WCAG20-TECHS/H44.html
 * - Form Labelablehttps://developer.mozilla.org/en-US/docs/Web/HTML/Content_categories#labelable
 *     Elements that can be associated with <label> elements. Contains:
 *     <button>, <input>, <meter>, <output>, <progress>, <select>, and <textarea>.
*/
label { /* https://stackoverflow.com/questions/25315730/can-the-label-element-be-used-with-an-output-element */
  & output {
    background-color: #bada55;
  }
}
label button {
}
label, label + input {
  /* margin: var(--margin-collapse-bugfix) auto var(--margin); */
  /* padding: var(--margin-collapse-bugfix) var(--line-height); */
  /* margin: 0 1ch; */
  /* display: block; */
  width: 100%;
  /* width: -webkit-fill-available; */
  /* width: 50%; */
  justify-content: end;
}
label + input {
  background: purple;
  padding: 0;
}
label + :not(input) {
  clear: both;
}
:not(li) > label {
}

:placeholder-shown {
  text-overflow: ellipsis;
  background: magenta;
}
select { /* https://github.com/whatwg/html/issues/3244 */
}

button, [role=button], input, select, textarea {
  color: currentColor;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: var(--text-align);
  box-sizing: border-box;
  /*
   * Fix rounded corners in iOS Safari https://github.com/twbs/bootstrap/issues/11586.
   * appearance
   *   - https://developer.mozilla.org/en-US/docs/Web/CSS/appearance
   *   - https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling#appearance_controlling_OS-level_styling
   */
  -webkit-appearance: none;
          appearance: none;
}

output, select, textarea,
input:not([type]), input[type=text], input[type=password], input[type=search], input[type=file],
input[type=color], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=range],
input[type=date], input[type=time], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week]
{ /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#%3Cinput%3E_types */
  width: 100%;
  /* max-width: var(--line-length); */
  /* min-width: calc((var(--GOLDEN-RATIO) - 1) * var(--line-length)); */
  display: inline-block;
  /* list-style-position: inside; */
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(
  --font-size);
  font-size: var(--larger);
  border: solid currentColor;
  border-width: 0 0 0.1em;
  padding: var(--margin-collapse-bugfix) calc(var(--line-height) - 1ch);
  line-height: var(
  --line-height);
  /* margin: var(--margin-collapse-bugfix) auto var(--margin); */
  -webkit-user-select: text; /* Safari - https://caniuse.com/?search=user-select */
  user-select: text; /* https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
  box-sizing: border-box;
  vertical-align: text-top;
}


label output, label select, label textarea, label [type], label input:not([type]) {grid-column: 2;width: calc((var(--GOLDEN-RATIO) - 1) * 100%);/* flex-basis: 68%; */max-width: calc((var(--GOLDEN-RATIO) - 1) * var(--line-length));}

[type=file] + output {
  /* display: inline; */
  background: red;
  border-width: 0.1618em;
}
[type=search] {
    margin: 0;
    flex: 1 50%;
    padding: 0 1em;
    background: none;
    text-align: left;
    outline-offset: -2px;
    -webkit-appearance: textfield;
            appearance: textfield;
}
/* Remove the inner padding in Chrome and Safari on macOS. */
[type=search]::-webkit-search-decoration
 { -webkit-appearance: none }
/* Remove 'x' icon from search */
[type=search]::-webkit-search-cancel-button { }
[role=search] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: green;
  border-bottom: 0.1em solid;
}
[role=search] label {
  background: pink;
  flex: 1 100%;
  font-size: 1em;
  text-align: left;
  height: 1em;
  line-height: 1em;
}
[role=search]
  [type=search] {
    height: 2em;
    font-size: 1em;
    line-height: 2em;
    border-bottom: none;
    animation: none !important;
    border-top: 1em solid rgba(0,0,0,0.001);
  }
[role=search]
  [type=search]:placeholder-shown {
  }

[role=search]
  input[type=submit] {
    margin: 0;
    padding: 0;
    border: none;
}
[role=search] input[type=submit] {
   height: 2em;
   font-size: 1em;
}
[role=search]
  footer {
    flex:1 100%;
    background:pink;
    text-align: right;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button
  { height: auto }

/*
 * - http://danielstern.ca/range.css
 * - Cross browser range inputs - https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
input[type=range] {
  border: none;
  cursor: ew-resize;
  box-shadow: inset 0 0 0.618em;
  margin: 0;
  /* border-radius: 0.618em; */
  /* width: 100%; */
  /* max-width: 14ch; */
  height: 100vh;
  max-height: 2ch;
  outline: none;
}
[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
[type=range]::-ms-track {}


/* checksboxes & radios */
#checkboxes label {
  background: orange;
  outline: 1px dashed;
  padding: 0;
  margin: 0;
  line-height: var(--line-height);
}
[type=checkbox], [type=radio] {
  font-family: monospace;
  font-size: var(--largest);
  margin: var(--margin);
  cursor: pointer;
  display: list-item;
  /* list-style-type: 'SHAZAM'; */
  /* list-style-position: outside; */
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: middle;
  border: 0.5em solid lightgrey;
  padding: 0.5em;
  background: pink;
  outline: 0.5em solid green;
}
[type=checkbox]::marker, [type=radio]::marker {
  content: '🙁';
}
[type=checkbox]:checked::marker, [type=radio]:checked::marker {
  content: '😊';
}
label [type=checkbox], label [type=radio] {
  width: auto;
}
[type=radio]:checked, [type=checkbox]:checked {}
[type=radio]::before, [type=checkbox]::before {
  --check:
  attr(data-check);
  content: var(--check, 'O');
  content: 'O';
  border: 0.5em solid lime;
  outline: 0.5em solid magenta;
  font-size: 1em;
  background: yellow;
  padding: 0.5em;
  display: contents;
  display: inherit;
  list-style-type: '🙁';
  list-style-position: inherit;
  margin: 0.5em;
}
[type=radio]:checked::before,
[type=checkbox]:checked::before {
  --checked:
  attr(data-checked);
  list-style-type: '😊';
  content: var(--checked, 'X');
  content: 'XXXXXXXXXXXXXXXXXX';
}
/* checkbox */
[type=checkbox] {
  /* display: contents; */
}
[type=checkbox]:checked {}
[type=checkbox]:checked::before {}
/* radio */
[type=radio] {}
[type=radio]::before {}
[type=radio]:checked {}
[type=radio]:checked::before {}

/* "pressed" button
 * aria-pressed - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role#Associated_ARIA_roles_states_and_properties
 * aria-label   - 
 */
[aria-pressed=true]  {}
[aria-pressed=false] {}


/* CSS TOGGLES [role=switch] https://tabatkins.github.io/css-toggle/
  - WHAT ARE CSS TOGGLES - https://toggles.oddbird.net/
  - Explainer proposal - https://css.oddbird.net/toggles/explainer/
  - *** https://blog.logrocket.com/advanced-guide-css-toggle-pseudo-class/
  - https://www.lambdatest.com/blog/top-20-css-toggle-switches-with-examples/
  - PROPOSAL - https://github.com/w3c/csswg-drafts/issues/6991
  - https://www.bram.us/2022/04/20/the-future-of-css-css-toggles/
  - https://github.com/whatwg/html/issues/5625
  - https://inclusive-components.design/toggle-button/
  - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Switch_role
  - https://developer.apple.com/design/human-interface-guidelines/ios/controls/switches/
 */
[type=checkbox].toggle {
  width: 2em;
  border-radius: 2em;
  transition: all 0.3s;
  background: GrayText;
}
[type=checkbox].toggle:checked
  { background: ButtonFace }
[type=checkbox].toggle:before {
  content: ' ';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transition: all 0.4s;
  background: ButtonFace;
  border: 0.05em solid GrayText;
  transform: translate(-0.5em, -0.05em)
}
[type=checkbox].toggle:checked {}
[type=checkbox].toggle:checked:before {
  transition: all 0.4s;
  transform: translate(0.5em, -0.05em)
}

[type=date], [type=time], [type=datetime-local], [type=month]
/* https://bugs.webkit.org/show_bug.cgi?id=139848
  and https://github.com/twbs/bootstrap/issues/11266 */
 { -webkit-appearance: listbox }

input[list] { /* combobox */ }

input[type=file] {
  block-size: 10em;
  max-block-size: 6em;
  outline: 2px solid red;
  /* height: 0; */
  padding: 0;
  /* opacity: 0; */
  /* clip-path: inset(50%); */
}

/* input[type=color]
    - https://css-tricks.com/color-inputs-a-deep-dive-into-cross-browser-differences/
*/
input[type=color] {
  opacity: 1.0;
  border: none;
  padding: initial;
  cursor: context-menu;
  height: var(--line-height);
  box-shadow: var(--box-shadow);
}
[type=color]::before {
  z-index: 1;
  content: '🎨';
  position: relative;
}
input[type=color]::-webkit-color-swatch-wrapper {
  top: -1.6182em;
  position: relative;
  background: ButtonFace;
  border-radius: inherit;
}
input[type=color]:hover::-webkit-color-swatch-wrapper {
  border: none;
  background: Canvas;
  border-radius: inherit;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  margin: 0.1618em;
  border-radius: inherit;
}

textarea {
   /* Remove IE vertical scrollbar. */
   padding: calc(var(--line-height) - 1em) var(--line-height);
   resize: vertical;
   text-align: left;
   overflow-y: scroll;
   white-space: unset;
}

select {
   /* Remove inheritance word wrap in Safari https://github.com/twbs/bootstrap/issues/24990 */
   cursor: context-menu;
   border-radius: 0.5em;
   margin: var(--margin);
   box-shadow: var(--box-shadow);
   text-align-last: var(--text-align);
}
select[multiple] {
  padding: 0;
  overflow-x: clip;
  overflow-y: scroll;
  text-overflow: ellipsis;
}
select[multiple]:focus-visible {
  overflow-x: scroll;
}

select:not([multiple]) {
  /* https://css-tricks.com/styling-a-select-like-its-2019/ */
  background:
    url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') right .6em top 50% / .65em auto no-repeat Field;
}

select[multiple] optgroup {
  margin-top: 0.618em;
  background: ButtonFace;
}
select[multiple] optgroup, select[multiple] optgroup :first-child {
border-top: 0.0618em solid ButtonText;
}
select[multiple] optgroup option {}
select[multiple] optgroup option {}

option {
  overflow-x: clip; /* https://kilianvalkhof.com/2022/css-html/do-you-know-about-overflow-clip/ */
  padding: 0 var(--line-height);
  line-height: var(--line-height);
}
:focus option
  { overflow-x: visible }

dialog {
  left: 0;
  right: 0;
  margin: auto;
  border: solid;
  display: block;
  position: absolute;

  height: -webkit-fit-content;
  height:    -moz-fit-content;
  height:         fit-content;

  width: -webkit-fit-content;
  width:    -moz-fit-content;
  width:         fit-content;
}

dialog:not([open])
  { display: none }

button, [type=button], [type=submit], [type=reset], [role=button], ::file-selector-button, [type=file]::-webkit-file-upload-button {
  /* ARIA - https://www.w3.org/TR/wai-aria-1.1/#button */
  cursor: pointer;
  width: max-content;
  max-width: inherit;
  white-space: normal;
  font-family: inherit;
  background: buttonFace;
  display: inline-block;
  border-radius: 0.1618em;
  font-size: var(--larger);
  box-shadow: var(--box-shadow);
  line-height: var(--line-height);
  border: 0.0168em solid currentColor;
  margin: var(--margin-collapse-bugfix) 0.67em 0.67em;
  padding: var(--margin-collapse-bugfix) var(--line-height);
}
button:not(:disabled), [type=button]:not(:disabled), ::file-selector-button:not(:disabled), [type=file]::-webkit-file-upload-button:not(:disabled),
[type=submit]:not(:disabled), [type=reset]:not(:disabled), [role=button]:not([aria-disabled=true]) {
  opacity: 70%;
  cursor: pointer;
}
button:not(:disabled):hover, [type=button]:not(:disabled):hover, [type=file]::file-selector-button:not(:disabled):hover, [type=file]::-webkit-file-upload-button:not(:disabled):hover,
[type=submit]:not(:disabled):hover, [type=reset]:not(:disabled):hover, [role=button]:not([aria-disabled=true]):hover
  { opacity: 100% }
button:focus, [type=button]:focus, [type=submit]:focus, [type=reset]:focus, [role=button]:focus
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus */ }

button svg {
  margin: auto;
}

/*
  - input Pseudo-classes - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#ui_pseudo-classes
*/
:default
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:default */ }
:indeterminate
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate */ }
:blank /* https://github.com/w3c/csswg-drafts/issues/1967*/
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:blank */ }
:empty
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:empty */ }
:read-write
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:read-write */ }
:read-only
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:read-only */ }
input[type=text]:read-only,
input:not([type]):read-only
  { cursor: not-allowed }

/* OPTIONAL */
:optional:not(:disabled) { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:optional */
  /* opacity: 70%; */
}

/* REQUIRED */
:required, [required], [aria-required=true] {
  /*
    - https://developer.mozilla.org/en-US/docs/Web/CSS/:required
  */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text fill='GrayText' font-size='2em' y='1em' x='0.1682em'>*</text></svg>");
}

/* VALID */
/* Styling validation using content
 *   - https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes#Styling_controls_based_on_whether_their_data_is_valid
*/
:user-valid
  { /* https://caniuse.com/mdn-css_selectors_user-valid */ }
input:valid::before, input:in-range::before,
select:valid::before, textarea:invalid::before,, [aria-invalid=false]::before {
  content: ' ';
}
input:required:valid, textarea:required:valid, select:required:valid, [aria-invalid=false] {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text fill='Lime' font-size='2em' y='1em' x='0.1682em'>✓</text></svg>");
}

/* INVALID */
:user-invalid
  { /* https://caniuse.com/mdn-css_selectors_user-invalid */ }
input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown), input:out-of-range:not(:placeholder-shown), select:invalid:not(:placeholder-shown), [aria-invalid=true]:not(:placeholder-shown) {
  accent-color: ActiveText;
  color:        ActiveText;
  cursor:       not-allowed;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text fill='ActiveText' font-size='2em' y='1em' x='0'>✗</text></svg>");
}


/* INERT */
/*
  - https://github.com/WICG/inert/blob/main/explainer.md
  - https://www.stefanjudis.com/blog/the-inert-attribute-is-finally-coming-to-the-web/
*/
[inert], [inert] * {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}


/* ENABLED */
:enabled, [aria-disabled=false]
 { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:enabled */ }

/* DISABLED */
/*
  - https://catalin.red/disabled-form-controls/
  - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-disabled
  - https://stackoverflow.com/questions/12591966/html-disabled-button-getting-active-css-pseudo-class
  - https://dev.w3.org/html5/spec-LC/association-of-controls-and-forms.html#enabling-and-disabling-form-controls
*/
:disabled, [aria-disabled=true],
:disabled:hover, [aria-disabled=true]:hover
 { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:disabled */
  filter: none;
  opacity: 30%;
  outline: none;
  cursor: not-allowed;
  pointer-events: none; /* https://jakearchibald.com/2017/events-and-disabled-form-fields/ */
  -webkit-user-select: none;
          user-select: none;
  text-decoration: line-through;
  text-decoration-color: GrayText;
}







.vertical {
  /*
    - https://www.w3.org/International/articles/vertical-text/
    - https://developer.mozilla.org/en-US/docs/Web/CSS/direction
  */
  /* rotate: 90deg; */
  direction: rtl;
  outline: 4px dotted red;
  writing-mode: bt-l;
  background: pink;
  display: table-cell;
  width: auto !important;
  padding: 0;
  writing-mode: vertical-lr;
}

.vertical input[type=range] {
  background:red;
  writing-mode: bt-lr; /* IE */
  /*
    - https://caniuse.com/?search=vertical%20slider
    - Chromium Bug - https://bugs.chromium.org/p/chromium/issues/detail?id=341071
    - https://stackoverflow.com/questions/39809103/vertical-slider-for-chrome-and-moz
    - https://stackoverflow.com/questions/3556157/how-to-customize-the-html5-input-range-type-looks-using-css
  */
  /* -webkit-appearance: slider-vertical; */ /* WebKit */
  /* appearance: slider-vertical; */ /* Living Standard */
  accent-color: CurrentColor;
  line-height: 100vh;
  /* max-height: 5ch !important; */
  width: 100% !important;
  max-width: 14ch !important;
  /* rotate:  90deg; */
  padding: 0;
}
.vertical input[type=range]::-moz-range-track {
  height: 20px;
  background: orange;
  border: 2px solid red;
}
.vertical input[type=range]::-moz-range-thumb {
  height: 30px;
  background: blue;
}

::-webkit-slider-runnable-track {
  margin: 0;
  padding: 1ch;
  background: green;
  border: 2px solid red;
  outline: 3px dotted purple;
}
::-webkit-slider-thumb {
  padding: 3ch;
  display: block;
  background: orange;
  border: 7px solid currentColor;
  margin: 1ch;
  outline: 2px solid blue;
}

/* indicators */
/* Style meter & progress
 *   - https://codepen.io/matt-west/pen/bpzEy
 *   - https://css-tricks.com/html5-meter-element/
 *   - 
 *   - https://stackoverflow.com/questions/8094835/how-to-style-html5-meter-tag
 */
meter, progress {
  cursor: progress;
   /* Correct vertical alignment in Chrome, Firefox, & Opera. */
  background: turquoise;
  /* border: 1ch solid currentColor; */
  /* outline: 1ch solid orange; */
  /* outline-offset: 1ch; */
  margin: var(--margin);
  width: auto;
  border-radius: 1ch;
  display: list-item;
  /* list-style-position: inside; */
  /* height: fit-content; */
  block-size: fit-content;
}
/* https://scottaohara.github.io/a11y_styled_form_controls/src/meter/ */
meter {}
progress {
  appearance: initial;
  /* height: auto; */
}
progress[value] {
}
meter { /* https://css-tricks.com/html5-meter-element/ */
  /* -webkit-appearance: none; */
  /* appearance: inherit; */
}

::-webkit-meter-inner-element,
::-webkit-progress-inner-element {
  /* border: 1ch solid currentColor; */
  /* margin: var(--margin-collapse-bugfix) 5%; */
  /* outline: 1ch solid orange; */
  width: inherit;
  background: orange;
  display: inherit;
  margin: 0ch;
  border-radius: 1ch;
}

::-webkit-meter-bar,
::-webkit-progress-bar
{
  margin: 1ch;
  /* border-radius: 0; */
  position: relative;
  /* outline: 1ch solid orange; */
  /* border: 1ch solid currentColor; */
  width: inherit;
  border-radius: 1ch;
  overflow: visible;
  display: list-item;
  /* padding: 1ch; */
}
::-webkit-meter-optimum-value,
::-webkit-progress-optimum-value
{
  /* margin: 1ch; */
  /* display: flex; */
  width: fit-content;
  /* padding: 1ch; */
  display: list-item;
  border-radius: 1ch;
}



::-webkit-meter-bar, ::-webkit-progress-bar {
  background: Canvas;
}

meter::-webkit-meter-optimum-value,
progress::-webkit-progress-optimum-value
  { background: pink; }
meter::-webkit-meter-suboptimum-value,
progress::-webkit-pgoress-suboptimum-value
  { background: orange; }
meter::-webkit-meter-even-less-good-value
progress::-webkit-progress-even-less-good-value
  { background: green; }

progress::marker {
  color: magenta;
  content: attr(value);
}