/*
 * Web Aim Creating Accessible Forms - https://webaim.org/techniques/forms/controls
 */

:root {
  --flex-direction: column
}

/*
  - Viewport Sizes - https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html
*/
@media screen and (min-width: 786px) {
  :root {
    --flex-direction: row
  }
}

/* Remove tapping delay
 *   https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
 */
a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action:     manipulation
}

/* cursors - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
summary
  { cursor: pointer }
progress
  { cursor: progress }
/* readonly - https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/readonly */
/* disabled - https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled */
[disabled], [readonly], :read-only
  { cursor: not-allowed }
button, [type=submit], [type=button], [type=reset]
  { cursor: pointer }


form {
  display: flex;
  flex-direction: var(--flex-direction)
}
form:focus-within {
  background-color: var(--darker-color)
}
form
  fieldset:focus-within {
    background-color: var(--darkest-color)
  }


form[name=search] {
  font-size: 50%;
  display: flex;
  background: #000;
  flex-direction: var(--flex-direction)
}
form#search
  input[type=search] {
    width: 80%;
  }
form#search
  input[type=submit] {
    flex: 1 33%;
  }
fieldset {
  min-width: 0; /* See https://github.com/twbs/bootstrap/issues/12359 */
  border: none;
  /* THIS IS A BUG - https://bugs.chromium.org/p/chromium/issues/detail?id=375693 */
  display: flex;
  flex-direction: var(--flex-direction);
  background: green;
}
fieldset[disabled] {}
/* THIS IS A BUG - https://bugs.chromium.org/p/chromium/issues/detail?id=375693 */
fieldset input { width: 100% }

legend {

  width: 100%; /* Correct the text wrapping in Edge and IE. */
  max-width: 100%
}

label {
background: purple;
}

output
  { display: inline-block }

input
{ /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#%3Cinput%3E_types */
  background: yellow;
  border: 0.1em solid red;
  /*
input:not(type), [type=color], [type=date]
[type=datetime-local], [type=email], [type=month], [type=number]
[type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week]

  <input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">
*/
}

[type=search] {
  /* Fix rounded corners in iOS Safari https://github.com/twbs/bootstrap/issues/11586. */
  outline-offset: -2px;
  -webkit-appearance: none
}
[type='search']::-webkit-search-decoration
 /* Remove the inner padding in Chrome and Safari on macOS. */
 { -webkit-appearance: none }

select
  /* Remove inheritance word wrap in Safari https://github.com/twbs/bootstrap/issues/24990 */
  { word-wrap: normal }

[type=radio], [type=checkbox]
  { border: none }

[type=date], [type=time], [type=datetime-local], [type=month]
/* https://bugs.webkit.org/show_bug.cgi?id=139848
  and https://github.com/twbs/bootstrap/issues/11266 */
 { -webkit-appearance: listbox }

textarea {
  width: 100%;
  resize: vertical
}

progress
  { vertical-align: baseline /* Correct vertical alignment in Chrome, Firefox, & Opera. */  }

dialog {
  left: 0;
  right: 0;
  margin: auto;
  border: solid;
  display: block;
  position: absolute;

  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content
}

dialog:not([open])
  { display: none }

[hidden]
  { display: none }

button, [type=button], [type=reset], [type=submit]
{
  font-size: 161%;
  font-weight: bold;
  padding: 0 1.612em;
  line-height: 1.612em;

  border-radius: 0; /* https://github.com/twbs/bootstrap/issues/24093 */
  border: 0.2em solid green;
  -webkit-appearance: button;
  appearance:         button;

}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  -moz-appearance:    button;
  appearance:         button
}
::-moz-file-upload-button {
  -webkit-appearance: button;
  -moz-appearance:    button;
  appearance:         button
}
button:focus {
  /* transparent `button` background results in a loss of the default `button` focus styles */
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

button, input, select {
  text-transform: none /* Remove the inheritance of text transform in Firefox */
}
[required], [aria-required=true] {}
:invalid, [aria-invalid=true] {}
:valid, [aria-invalid=false] {}