/*
 * Form Input Types - https://developer.mozilla.org/en-US/docs/Learn/Forms/HTML5_input_types
 * Form Validation - https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
 * Web Aim Creating Accessible Forms - https://webaim.org/techniques/forms/controls
 * Styling Web Forms - https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms
 * Advanced Form Styling - https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_stylin
 * Styling Form Pseudo Elements - https://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_range
 *
 * Web Form Usability (Top 10 Practices) - https://www.nngroup.com/articles/web-form-design
 * A Form of Madness - http://diveintohtml5.info/forms.html
 * Styling - https://www.quirksmode.org/blog/archives/2017/12/native_form_val.html
 */

/* Viewport Sizes - https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html */
@media screen and (min-width: 786px) { :root { } }

/* accessible placeholders & labels - https://nngroup.com/articles/form-design-placeholders */
::placeholder, ::-webkit-input-placeholder { /* 4.5:1 contrast ratio for ARIA */
  opacity: 0.4;
  color: inherit;
  overflow-x: clip;
  white-space: nowrap;
  padding-inline: 1ch;
  text-overflow: ellipsis;
  font-style: oblique 90deg;
}
:is( input,textarea ):not( [disabled] ):where( :hover, :focus-within )::placeholder
  { opacity: 0.7 }

/* Remove tapping delay
 *   https://css-tricks.com/almanac/properties/t/touch-action/
 *   https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
 */
a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action:     manipulation
}


/* Form proximity effect
     - https://www.nngroup.com/articles/form-design-white-space/?lm=form-design-placeholders&pt=article
*/
form {
  margin: var(--margin);
  max-width: var(--max-width);
  flex-direction: var(--flex-direction);
  caret-color: currentcolor; /* https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color */
}
form[autocomplete] {
  gap: 2ch;
  columns: 2;
  column-gap: 2ch;
  column-rule: 3px dotted;
  background: orange;
}
form:focus-within { }¸
fieldset:focus-within { }
/*
  - https://thatemil.com/blog/2017/07/01/fixing-fieldsets/
  - https://adrianroselli.com/2022/07/use-legend-and-fieldset.html
*/


/* fieldset / legend */
fieldset {
  list-style-position: inside;
  width: calc( 100% - 1ch);
  max-width: 100%;
  inset: 1ch 1em;
  border-radius: 0.5ch;
  margin: var(--margin);
  /* See https://github.com/twbs/bootstrap/issues/12359 */
  text-align: var(--tab-size);
  border: 0.168ch solid currentColor;
  background: rgba(255,255,255,0.1);
}
fieldset::before, fieldset::after {
  color: Canvas;
  font-size: 1.618ch;
  font-weight: lighter;
  display: list-item;
  background: inherit;
  content: 'fieldset';
  list-style-type: '\2636';
}
fieldset::before { margin-bottom: 1ch }
fieldset::after { margin-top: 1ch }
fieldset:active legend, fieldset:focus-within legend
 { color: CanvasText }
/* THIS IS A BUG - https://bugs.chromium.org/p/chromium/issues/detail?id=375693 */
/* border: none; */
fieldset[disabled] { opacity: 0.682 }
legend { /* https://thatemil.com/blog/2017/07/01/fixing-fieldsets */
  z-index: 2;
  width: 100%;
  top: 0.681ch;
  color: Canvas;
  display: flex;
  border: inherit;
  position: sticky;
  font-weight: bold;
  background: inherit;
  line-height: 1.682em;
  margin-block: 1ch auto;
  border-radius: inherit;
  font-size: var(--larger);
  font-variant-caps: small-caps;
}
legend::before, legend::after {
  flex: 1;
  content: '\2009';
  text-align: center;
  background: inherit;
  align-self: stretch;
  padding-inline: 0.5ch;
}
legend::before {
  color: red;
  content: '❌';
  text-align: end;
  display: list-item;
  list-style-type: '⚠️';
  margin-inline-end: 0.5ch;
}
legend::after { margin-inline-start: 0.5ch }

form details { padding: 0 }

/*
 * - https://www.w3.org/TR/WCAG20-TECHS/H44.html
 * - Form Label - https://developer.mozilla.org/en-US/docs/Web/HTML/Content_categories#labelable
 *     Elements that can be associated with <label> elements. Contains:
 *     <button>, <input>, <meter>, <output>, <progress>, <select>, and <textarea>.
*/
label { /* https://stackoverflow.com/questions/25315730/can-the-label-element-be-used-with-an-output-element */
  cursor: pointer;
  margin: 0 1ch 0;
  flex-wrap: wrap;
  text-indent: 1ch;
  white-space: nowrap;
  display: inline-flex;
  width: calc(100% - 2ch);
  background-color: Canvas;
  background-image:
    linear-gradient(
    135deg,
    rgba(255, 0, 0, 1) 0,
    rgba(255, 0, 0, 1) 1ch,
    transparent 0.4em
  );
  /* flex-direction: var(--flex-direction); */

  output { /* https://scottohara.me/blog/2019/07/10/the-output-element.html */ }

}
code {
  background: red;
}
label > * { cursor: revert }
label :is( button, [type=button], [type=submit], [type=reset], [role=button] ) {}
label, label + input {
  /* margin: var(--margin-collapse-bugfix) auto var(--margin); */
  /* padding: var(--margin-collapse-bugfix) var(--line-height); */
  /* margin: 0 1ch; */
  /* width: 100%; */
  /* width: -webkit-fill-available; */
  /* width: 50%; */
}

label + :not(input) {
  clear: both;
}
:not(li) > label {
}

:placeholder-shown {
  text-overflow: ellipsis;
}
select { /* https://github.com/whatwg/html/issues/3244 */}

button, [role=button], input, select, textarea {
  font: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  /*
   * Fix rounded corners in iOS Safari https://github.com/twbs/bootstrap/issues/11586.
   * appearance
   *   - https://developer.mozilla.org/en-US/docs/Web/CSS/appearance
   *   - https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling#appearance_controlling_OS-level_styling
   */
  -webkit-appearance: none;
          appearance: none;
}

output, select, textarea,
input:where( :not( [type] ),
  [type=text], [type=password], [type=search], [type=file],
  [type=number], [type=color], [type=url], [type=email], [type=tel],
  [type=date], [type=time], [type=datetime], [type=datetime-local], [type=month], [type=week]
) { /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#%3Cinput%3E_types */
  width: var(--width);
  margin: 0 auto;
  padding: 0 1ch;
  text-indent: 1ch;
  border-style: solid;
  white-space: nowrap;
  line-height: 1.682em;
  border: solid Canvas;
  text-overflow: ellipsis;
  vertical-align: baseline;
  border-width: 0 1ch 1ch 1ch;
  -webkit-user-select: text;
  user-select: text;
  background-repeat: no-repeat;
  max-width: calc(100% - 2ch);
  width: -moz-available;
  width: -webkit-fill-available;
  box-shadow: inset 0 0 0 0.168ch;
  background-color: transparent;
  background-image:
    linear-gradient( 135deg, currentColor 0,
      currentColor calc( 0.5 * var(--line-height) ),
    transparent calc( 0.5 * var(--line-height) ) );

  /* https://kizu.dev/counters-and-stones */
/*
  label + &:hover:not( [disabled]),
  label:hover + &:not( [disabled]),
  label:hover > &:hover:not( [disabled]) {
    color: Canvas;
    background-color: CanvasText;
  }
*/
}


label output, label select, label textarea, label [type], label input:not([type]) {
  border: none;
  border-radius: 0;
  margin-bottom: 1ch;
}

[type=file] + output {
  text-align: left;
  display: inline-block;
  width: calc(100% - 2ch);
  border-width: 0 1ch 1ch 1ch;
}

search, [role=search] {
  background: maroon;
  border-bottom: 0.1em solid;

  & label {}
  & button, input[type=submit] { background: lime }

  search > input, [type=search] {
    display: block;
    list-style: '*' inside;
    /* background-color: transparent; */
    -webkit-appearance: textfield;
    appearance: textfield;
    background-image:
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text font-size='1.682em' y='1em' x='0.1682em'>🔎</text></svg>");

    &:required:valid {
      background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text font-size='1.682em' y='1em' x='0.1682em'>✓</text></svg>");
    }
    &:hover {
      background-color: transparent;
    }
    &:placeholder-shown {}

    &::before, &::after {
      content: 'x';
      padding: 1ch;
      display: block;
      background: red;
      /* display: list-item; */
    }
    /* Remove the inner padding in Chrome and Safari on macOS. */
    &::-webkit-search-decoration
      { appearance: none }
    &::-webkit-calendar-picker-indicator {
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      cursor: pointer;
      appearance: none;
      position: absolute;
      block-size: unset !important;
      list-style: '▼' inside !important;
      background: yellow no-repeat 50% 50% / 68% 68% url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg);
    }
    /* Remove 'x' icon from search */
    &::-webkit-search-cancel-button {
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      cursor: pointer;
      appearance: none;
      display: list-item;
      position: absolute;
      list-style: '❌' inside;
      background: yellow no-repeat 50% 50% / 100% 100% url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg);
    }
    &::-webkit-search-results-button {
      /* width: 10px; */
      /* height: 10px; */
      cursor: pointer;
      /* background: red; */
      /* -webkit-appearance: none; */
    }
  }
}

[type=number] { -moz-appearance: textfield } /* Firefox */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button
  { height: auto }
/*
 * - http://danielstern.ca/range.css

 * - Cross browser range inputs - https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
input[type=range] {
  border: solid Canvas;
  border-width: 0 1ch 1ch;
  cursor: ew-resize;
  width: inherit;
  margin: 0 auto;
  max-width: calc(100% - 2ch);
  background: Canvas;
}
[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
[type=range]::-ms-track {}


/* checksboxes & radios */
#checkboxes label {
  overflow: hidden;
  background: orange;
  outline: 1px dashed;
  padding: 0;
  margin: 0;
  line-height: var(--line-height);
}
[type=checkbox], [type=radio] {
  font-family: monospace;
  font-size: var(--largest);
  margin: var(--margin);
  cursor: pointer;
  display: list-item;
  /* list-style-type: 'SHAZAM'; */
  /* list-style-position: outside; */
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: middle;
  border: 0.5em solid lightgrey;
  padding: 0.5em;
  background: pink;
  outline: 0.5em solid green;
}
[type=checkbox]::marker, [type=radio]::marker {
  content: '🙁';
}
[type=checkbox]:checked::marker, [type=radio]:checked::marker {
  content: '😊';
}
label [type=checkbox], label [type=radio] {
  width: auto;
}
[type=radio]:checked, [type=checkbox]:checked {}
[type=radio]::before, [type=checkbox]::before {
  --check:
  attr(data-check);
  content: var(--check, 'O');
  content: 'O';
  border: 0.5em solid lime;
  outline: 0.5em solid magenta;
  font-size: 1em;
  background: yellow;
  padding: 0.5em;
  display: contents;
  display: inherit;
  list-style-type: '🙁';
  list-style-position: inherit;
  margin: 0.5em;
}
[type=radio]:checked::before,
[type=checkbox]:checked::before {
  --checked:
  attr(data-checked);
  list-style-type: '😊';
  content: var(--checked, 'X');
  content: 'XXXXXXXXXXXXXXXXXX';
}
/* checkbox */
[type=checkbox] {
  /* display: contents; */
}
[type=checkbox]:checked {}
[type=checkbox]:checked::before {}
/* radio */
[type=radio] {}
[type=radio]::before {}
[type=radio]:checked {}
[type=radio]:checked::before {}

/* "pressed" button
 * aria-pressed - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role#Associated_ARIA_roles_states_and_properties
 */
[aria-pressed=true]  {}
[aria-pressed=false] {}


/* CSS TOGGLES [role=switch] https://tabatkins.github.io/css-toggle
  - WHAT ARE CSS TOGGLES - https://toggles.oddbird.net
  - Explainer proposal - https://css.oddbird.net/toggles/explainer
  - *** https://blog.logrocket.com/advanced-guide-css-toggle-pseudo-class
  - https://www.lambdatest.com/blog/top-20-css-toggle-switches-with-examples
  - PROPOSAL - https://github.com/w3c/csswg-drafts/issues/6991
  - https://www.bram.us/2022/04/20/the-future-of-css-css-toggles
  - https://github.com/whatwg/html/issues/5625
  - https://inclusive-components.design/toggle-button
  - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Switch_role
  - https://developer.apple.com/design/human-interface-guidelines/ios/controls/switches
 */
[type=checkbox].toggle {
  width: 2em;
  border-radius: 2em;
  transition: all 0.3s;
  background: GrayText;
}
[type=checkbox].toggle:checked
  { background: ButtonFace }
[type=checkbox].toggle:before {
  content: ' ';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transition: all 0.4s;
  background: ButtonFace;
  border: 0.05em solid GrayText;
  transform: translate(-0.5em, -0.05em)
}
[type=checkbox].toggle:checked {}
[type=checkbox].toggle:checked:before {
  transition: all 0.4s;
  transform: translate(0.5em, -0.05em)
}

[type=date], [type=time], [type=datetime-local], [type=month]
/* https://bugs.webkit.org/show_bug.cgi?id=139848
  and https://github.com/twbs/bootstrap/issues/11266 */
 { -webkit-appearance: listbox }

input[list] { /* combobox */ }

input[type=file] {
  height: auto;
  padding: 1ch;
  /* opacity: 0; */
  /* clip-path: inset(50%); */
}

/* input[type=color]
    - https://css-tricks.com/color-inputs-a-deep-dive-into-cross-browser-differences/
*/
input[type=color] {
  opacity: 1.0;
  border: none;
  padding: initial;
  cursor: context-menu;
  height: var(--line-height);
  box-shadow: var(--box-shadow);
}
[type=color]::before {
  z-index: 1;
  content: '🎨';
  position: relative;
}
input[type=color]::-webkit-color-swatch-wrapper {
  top: -1.6182em;
  position: relative;
  background: ButtonFace;
  border-radius: inherit;
}
input[type=color]:hover::-webkit-color-swatch-wrapper {
  border: none;
  background: Canvas;
  border-radius: inherit;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  margin: 0.1618em;
  border-radius: inherit;
}


textarea {
   /* Remove IE vertical scrollbar. */
   width: calc(100% - 2ch);
   padding: 1em 1ch;
   resize: vertical;
   text-align: left;
   overflow-y: scroll;
   white-space: normal;
}
textarea:not([cols]) { min-width: 50% }
textarea:not([rows]) { min-height: 10em }
::-webkit-resizer {
    background: red;
    border: 2px solid black;
    outline: 2px solid yellow;
    box-shadow: 0 0 5px 5px blue;
}

/* https://adrianroselli.com/2021/03/under-engineered-select-menus.html */
/* Remove inheritance word wrap in Safari https://github.com/twbs/bootstrap/issues/24990 */
/* select { text-align-last: var(--text-align) } */
/* Safari */
/* select { text-align: -webkit-center } */
select[multiple] { padding: 0 }
select[multiple]:where( :hover, :focus-visible ) { overflow: auto }
select:not([multiple]) {
  /* https://css-tricks.com/styling-a-select-like-its-2019/ */
  cursor: s-resize;
  padding-right: 4ch;
  background-repeat: no-repeat;
  background-position: calc(100% - 1ch) center;
  background-position: left;
  background-size: 100%;
  background-image:
    linear-gradient( 135deg,
      rgba(255, 0, 0, 1) 0,
      rgba(255, 0, 0, 1) 1em,
      rgba(255, 255, 255, 0) 1em
    ),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><path d='M 200 0 L 100 100 0 0 z' fill='Canvas'></path></svg>");
}
option, optgroup {
  padding: 1ch 0;
  border: solid 0.1ch;
}
select[multiple] optgroup option { text-indent: 1.682em }
label + select[multiple] :where( optgroup, option ) { background: transparent }
option {
  cursor: n-resize;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
:focus option {
  overflow-x: visible;
}

dialog {
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  border: solid;
  display: block;
  padding: 1ch 1ch 0;
  position: absolute;
  text-align: center;
  width: fit-content;
  height: fit-content;
  background-color: Canvas;
}
dialog:not([open])
  { display: none }
dialog form { margin: unset }

/* ARIA - https://www.w3.org/TR/wai-aria-1.1/#button */
/* TODO: [type=file]::file-selector-button */
button, [type=button], [type=submit], [type=reset], [role=button], [type=file]::-webkit-file-upload-button {
  -webkit-appearance: none;
  appearance: none;
  color: Canvas;
  cursor: pointer;
  font-size: inherit;
  width: max-content;
  max-width: inherit;
  white-space: normal;
  font-weight: bolder;
  font-family: inherit;
  display: inline-block;
  word-spacing: inherit;
  background: CanvasText;
  letter-spacing: inherit;
  border-radius: 0.1618em;
  max-width: calc(100% - 2ch);
  box-shadow: var(--box-shadow);
  line-height: var(--line-height);
  border: 0.0168em solid currentColor;
  padding: var(--margin-collapse-bugfix) 1ch;
  margin: var(--margin-collapse-bugfix) 1ch 1ch;
}
/* TODO: [type=file]::file-selector-button */
input[type=file]::-webkit-file-upload-button
  { margin: 0 1ch 0 0 }
/* TODO: [type=file]::file-selector-button:not(:disabled) */
button:not(:disabled), [type=button]:not(:disabled) [type=file]::-webkit-file-upload-button:not(:disabled),
[type=submit]:not(:disabled), [type=reset]:not(:disabled), [role=button]:not([aria-disabled=true])
  { opacity: 70% }
/* TODO: [type=file]::file-selector-button:not(:disabled):hover */
button:not(:disabled):hover, [type=button]:not(:disabled):hover, [type=submit]:not(:disabled):hover,
[type=reset]:not(:disabled):hover, [role=button]:not([aria-disabled=true]):hover, [type=file]::-webkit-file-upload-button:not(:disabled):hover
  { opacity: 100% }
/* TODO: [type=file]::file-selector-button:focus */
button:focus, [type=button]:focus, [type=submit]:focus, [type=reset]:focus, [role=button]:focus, [type=file]::-webkit-file-upload-button:focus
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus */ }

button svg {
  margin: auto;
}
button:focus-visible { z-index: 1 }
button::before {
  content: '\200B';
  vertical-align: initial;
}
[role=toolbar] [data-icon] {
  width: 2em;
  padding: 0;
  margin: auto;
  min-width: 2em;
  overflow: hidden;
  white-space: nowrap;
  background: inherit;
}
[role=toolbar]:is( :hover, :focus-within ) * { opacity: .8 }
[role=toolbar] :is( * ):hover { opacity: 1 }
[role=toolbar] [data-icon]::before { width: 2em }

/*
  - input Pseudo-classes - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#ui_pseudo-classes
*/
:default
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:default */ }
:indeterminate
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate */ }
:blank /* https://github.com/w3c/csswg-drafts/issues/1967*/
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:blank */ }
:empty
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:empty */ }
:read-write
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:read-write */ }
:read-only
  { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:read-only */ }
input[type=text]:read-only,
input:not([type]):read-only
  { cursor: not-allowed }

/* OPTIONAL */
:optional:not(:disabled) { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:optional */
  /* opacity: 70%; */
}

/* REQUIRED */
:required, [required], [aria-required=true] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:required */
  background-image: linear-gradient(
      135deg,
      currentColor 0,
      currentColor 2ch,
      transparent 2ch,
    ),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text font-size='1.682em' y='1em' x='1em' fill='Mark'>*</text></svg>");
}
:required:not(:placeholder-shown), [required]:not(:placeholder-shown), [aria-required=true]:not(:placeholder-shown) {
  /*
    - https://developer.mozilla.org/en-US/docs/Web/CSS/:required
  */
  background-image: initial;
}

/* VALID */
/* Styling validation using content
 *   - https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes#Styling_controls_based_on_whether_their_data_is_valid
*/
:user-valid
  { /* https://caniuse.com/mdn-css_selectors_user-valid */ }
input:valid::before, input:in-range::before,
select:valid::before, textarea:invalid::before, [aria-invalid=false]::before {
  content: ' ';
}
input:required:valid,
select:required:valid,
textarea:required:valid,
[aria-invalid=false] {
  background-image: linear-gradient(
      135deg,
      currentColor 0,
      currentColor 2ch,
      transparent 2ch
    ),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text font-size='2em' y='1.55ch'>✓</text></svg>");
}

/* INVALID
 *  - https://issues.chromium.org/issues/365802576
 *  - https://bugs.webkit.org/show_bug.cgi?id=279503 */
:user-invalid
  { /* https://caniuse.com/mdn-css_selectors_user-invalid */ }
input:not(:placeholder-shown):invalid,
select:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid,
input:not(:placeholder-shown):out-of-range,
[aria-invalid=true]:not(:placeholder-shown):invalid {
  accent-color: red;
  color:        AccentColorText;
  cursor:       not-allowed;
  background-image: linear-gradient(
      135deg,
      currentColor 0,
      currentColor 2ch,
      transparent 2ch
    ),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text font-size='2em' y='1.68ch' x='0ch'>✗</text></svg>");
  /* background-position: 0; */
  /* background-size: 1.68ch auto; */
  /* background-repeat: no-repeat; */
}

/* UNDETERMINED */
:required:placeholder-shown,
input:focus:not(:placeholder-shown):invalid,
select:focus:not(:placeholder-shown):invalid,
textarea:focus:not(:placeholder-shown):invalid,
input:focus:not(:placeholder-shown):out-of-range,
[aria-invalid=true]:focus:not(:placeholder-shown):invalid {
  /* TODO: fix intermediate styles */
  /* TODO: Possibly add inert */
  color: Mark;
}

/* INERT */
/*
  - https://github.com/WICG/inert/blob/main/explainer.md
  - https://www.stefanjudis.com/blog/the-inert-attribute-is-finally-coming-to-the-web/
*/
[inert], [inert] * {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}


/* ENABLED */
:enabled, [aria-disabled=false]
 { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:enabled */ }

/* DISABLED */
/*
  - https://catalin.red/disabled-form-controls/
  - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-disabled
  - https://stackoverflow.com/questions/12591966/html-disabled-button-getting-active-css-pseudo-class
  - https://dev.w3.org/html5/spec-LC/association-of-controls-and-forms.html#enabling-and-disabling-form-controls
*/
:disabled, [disabled], [aria-disabled=true],
:disabled:hover, [aria-disabled=true]:hover
 { /* https://developer.mozilla.org/en-US/docs/Web/CSS/:disabled */
  filter: none;
  outline: none;
  cursor: not-allowed;
  pointer-events: none; /* https://jakearchibald.com/2017/events-and-disabled-form-fields/ */
  -webkit-user-select: none;
  user-select: none;
  text-decoration-line: line-through;
}


::-webkit-slider-runnable-track {
  margin: 0ch;
  padding: 0.5ch 0.25ch;
  border-radius: 0.682ch;
  /* box-shadow: 0 0 0.3ch Canvas; */
  box-shadow: inset 0 0 0 1.68ch CanvasText;
  /* background-image: linear-gradient(0deg, transparent 40%, Canvas 40%, Canvas 60%, transparent 60%); */
}
::-moz-range-track {
  margin: 0ch;
  padding: 0.5ch 0.25ch;
  border-radius: 0.682ch;
  /* box-shadow: 0 0 0.3ch Canvas; */
  box-shadow: inset 0 0 0 1.68ch CanvasText;
  /* background-image: linear-gradient(0deg, transparent 40%, Canvas 40%, Canvas 60%, transparent 60%); */
}
::-webkit-slider-thumb {
  width: 5ch;
  height: 3ch;
  background: Canvas;
  border-radius: 0.682ch;
  box-shadow: 0 0 0.682ch Canvas;
}
::-moz-range-thumb {
  width: 5ch;
  height: 3ch;
  background: Canvas;
  border-radius: 0.682ch;
  box-shadow: 0 0 0.682ch Canvas;
}


/* Style meter & progress
 *   - https://codepen.io/matt-west/pen/bpzEy
 *   - https://codepen.io/matt-west/pen/nYbpyw
 *   - https://css-tricks.com/html5-meter-element
 *   - https://codepen.io/team/css-tricks/pen/PNNQxm
 *   - https://scottaohara.github.io/a11y_styled_form_controls/src/meter
 *   - https://stackoverflow.com/questions/8094835/how-to-style-html5-meter-tag
 */
meter, progress {
  height: auto;
  border: none;
  border: 0.5ch solid;
  display: inline-block;
  margin: var(--margin);
  width: calc(100% - 2ch);
  -webkit-appearance: none;
  appearance: none;
}
meter {}
progress {}
meter[value], progress[value] {
  --webkit-appearance: none;
  appearance: none;
   /* Correct vertical alignment in Chrome, Firefox, & Opera. */
  background: rgba(255,255,255,0.4);
  /* border: 1ch solid currentColor; */
  /* outline: 1ch solid orange; */
  /* outline-offset: 1ch; */
  /* display: list-item; */
  /* height: fit-content; */
  /* block-size: fit-content; */
}
meter[value] {}
progress[value] { color: currentColor }
meter:indeterminate, progress:indeterminate {
}
meter:indeterminate {}
progress:indeterminate {}

meter::-webkit-meter-inner-element,
progress::-webkit-progress-inner-element {
  height: 3ch;
  /* border: 1ch solid currentColor; */
  height: 3ch;
  outline: 1px solid;
  background: inherit;
}
progress::-webkit-progress-bar::before,
progress::-webkit-progress-value::before,
progress::-webkit-progress-inner-element::before {
  display: block;
  content: '123';
}
meter::-webkit-meter-bar,
progress::-webkit-progress-bar {
  height: 2ch;
  margin: 0.5ch;
  display: block;
  position: absolute;
  width: calc(100% - 1ch);
  background-color: lime;
  box-shadow: 0 0 .168ch .168ch rgba(0, 0, 0, .68) inset;

  background-image:
    repeating-linear-gradient( -45deg,
      transparent, transparent 20%,
      rgba(0, 0, 0, .1) 20%,  rgba(0, 0, 0, .1) 40%
  );
  background-size: 20% 100%;
  background-repeat: repeat-x;
  background-position: top left;
  animation: barberpole 10s linear infinite;
}
meter::-webkit-meter-bar::before,
meter::-webkit-meter-bar::after,
progress::-webkit-progress-bar::before,
progress::-webkit-progress-bar::after {
  content: '123';
  display: block;
} 

meter::-webkit-meter-optimum-value, progress::-webkit-progress-value {
  block-size: 1ch !important; /* TODO: Remove */
  margin: 0.5ch 0;
  border: 0.168ch solid;
  box-shadow: 0 0 .168ch #000;
  transition: inline-size 0.25s ease-out;
  background-image:
    -webkit-linear-gradient(left, #09c, #f44);
  background-image:
    linear-gradient(left, #09c, #f44);
}
meter:not([value])::-webkit-meter-bar,
progress:indeterminate::-webkit-progress-bar {
  animation: none;
  background-image: none;
}
meter:not([value])::-webkit-meter-optimum-value { display: none }
progress:indeterminate::-webkit-progress-value {
  inline-size: 100% !important; /* TODO: Remove */
  width: 100%;
  background-color: transparent;
  background-image:
    linear-gradient(90deg, currentColor 100%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 20%;
  background-attachment: fixed;
  background-position: 0%;
  animation-name: progress;
  animation: 0.682s infinite ease progress;
}
@-webkit-keyframes progress {
  50%  { background-position: 95% }
}
@keyframes progress {
  50%  { background-position: 95% }
}
@-webkit-keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
progress::-webkit-progress-value::after {
 /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */

  content: 'x';
  background-color: white;
}
