/*
  - Gliphs - https://css-tricks.com/snippets/html/glyphs/
  - Arrows - https://www.toptal.com/designers/htmlarrows/arrows/
  - Useful Symbols - https://en.wikibooks.org/wiki/Unicode/List_of_useful_symbols
  - URL Schemes - https://en.wikipedia.org/wiki/Uniform_Resource_Identifier
  - Apple URL Protocol Schemes - https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/Introduction/Introduction.html#//apple_ref/doc/uid/TP40007899
  - https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel
*/

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:where */
:where( header[id], h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] )::before {
  opacity: 20%;
  content: '\1F517';
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:where */
:where( header[id], h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] ):hover::before
  { opacity: 40% }

a[href='#']::before
  { content: '⇭' }

a[rel=help]::after
  { content: '❓' }
address a[rel=help]::after
  { content: '' }
a[rel=author]::before
  { content: '🖊️' }
a[rel=license]::before
  { content: '📝' }
a[rel=bookmark]::before
  { content: '📁' }
a[download]::before
  { content: '⟱' }
a[rel=alternate][hreflang]::before
  { content:  attr(target) attr(hreflang) }
a[rel=pingback]::before
  { content: '⥹' }
a[rel=next]::after
  { content: '⇨' }
a[rel=prev]::before
  { content: '⇦' }
a[rel=tag]::before
  { content: '#' }
a[rel=search]::before
  { content: '🔍' }

a[href^=mailto]::before
  { content: '📧' }
a[href^=tel]::before
  { content: '📞' }
a[href^=sms]::before
  { content: '💬' }
a[rel=external]::before
  { content: '🌐' }

a[href*=twitter]::before
  { content: '🐦' }

a[href*=youtube]::before {
  content: '►';
  padding: 0.2em 0.618em 0.1em;
  color: #fff;
  font-size: 0.7em;
  background: #f00;
  border-radius: .4em;
}

a[href*=instagram]::before
  { content: '📷' }

a[href*=github]::before
  { content: '🐙' }

a[href*=facebook]::before,
a[href^=facetime]::before,
a[href^=facetime-audio]::before {
  color: #fff;
  padding: 0 .3em;
  font-weight: bold;
  border-radius: .3em;
  background: #3b5998;
  text-shadow: .1em .1em .1em rgb(10,10,10,0.4)
 }
a[href*=facebook]::before       { content: 'F' }
a[href^=facetime]::before       { content: 'F🎥' }
a[href^=facetime-audio]::before { content: 'F🔈' }

a[href*='phobos.apple.com']::before /* iTunes */
  { content: '🎵' }

figcaption::before {
  display: inline-block;
  width: 1em;
  content: '⇧';
  font-size: 1.618em;
}
figcaption {
  opacity: 0.4;
}
figure:hover figcaption {
  opacity: 0.618;
}