/* Unicode - https://www.amp-what.com
 ' ' - space U+2020 \2020 &#x2020; &Space;
 ' ' - thin space U+2009 \2009 &#x2009; &ThinSpace;
 ' ' - hair space U+200A \200A &#x200A; &HairSpace;
 '​' - zero-width space U+200B \200B &#x200B; &ZeroWidthSpace;

  - Emoji Database - https://emojidb.org
  - Test Icons - https://dev.w3.org/SVG/profiles/1.1F2/test/images
  - Whitespace - https://en.wikipedia.org/wiki/Whitespace_character
  - What Character? https://www.babelstone.co.uk/Unicode/whatisit.html
  - URL Schemes - https://en.wikipedia.org/wiki/Uniform_Resource_Identifier
  - Useful Symbols - https://en.wikibooks.org/wiki/Unicode/List_of_useful_symbols
  - Apple URL Protocol Schemes - https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/Introduction/Introduction.html#//apple_ref/doc/uid/TP40007899
*/
/* list-style-image:
  url('data:image/svg+xml;utf8,<svg width="1.3em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="100%" y="1em">➤</text></svg>'); */
/* list-style-image: url('https://dev.w3.org/SVG/profiles/1.1F2/test/images/20x20.png'); */
:is( body > nav, [role=navigation] )
  :is( dl, ul, ol, details )::before {
    /* list-style-image:
      url('data:image/svg+xml;utf8,<svg width="1.3em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="100%" y="1em">➤</text></svg>'); */
  }

:where( header, h1, h2, h3, h4, h5, h6 )::marker
  {/* content: counter(header); */}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:where */
:where( header, h1, h2, h3, h4, h5, h6 )::before
  { content: '\2009' }
:where( header, h1, h2, h3, h4, h5, h6 )[id]::before
  { content: '\1F517' }

a::before, a::after
  { content: '\200B' } /* needed for flex stretch - https://compart.com/en/unicode/U+200B */

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel */
body > footer small::before
  { content: '⚖️' }
footer small ~ a:link::before
  { content: '' }
a[target=legal]::before
  { content: '⚖️' }
a:link[rel=license]::before
  { content: '📝' }
a:link[rel=copyright]::before
  { content: '🔏' }
a:link[rel=privacy-policy]::before
  { content: '🛡️' }
a:link[rel=terms-of-service]::before
  { content: '🔰' }
a[rel=external]::before
  { content: '🌐' }
a[rel=nofollow]::after
  { content: '🤫' }
a[rel=sponsored]::after
  { content: '💸' }
a[rel=ugc]::before
  { content: '🗣️' }
a[rel=help]::after
  { content: '❓' }
a[rel=author]::before
  { content: '🖊️' }
a[rel=bookmark]::before
  { content: '📁' }
a[download]::before
  { content: '⟱' }
a[rel=pingback]::before
  { content: '⥹' }
a[rel=next]::after
  { content: '⇨' }
a[rel=prev]::before
  { content: '⇦' }
a[rel=tag]::before
  { content: '#' }
a[rel=search]::before
  { content: '🔍' }
a[rel=alternate][hreflang]::before
  { content: attr(hreflang) attr(target) }

a[href='#']::before /* Jump-To-Top link */
  { content: '⇭' }
a[href*=github]::before
  { content: '🐙' }
a[href^=mailto]::before
  { content: '📧' }
a[href^=tel]::before
  { content: '📞' }
a[href^=sms]::before
  { content: '💬' }
a[href*=twitter]::before
  { content: '🐦' }
a[href*=instagram]::before
  { content: '📷' }
a[href*=youtube]::before {
  content: '►';
  color: #fff;
  background: #f00;
  padding-inline: 0.7ch;
}

a[href*=iTunes i]::before
  { content: '🎵'; }
a[href*='maps.apple.com']::before
  { content: '🌎' }

a[href*='maps/search']::before
  { content: '🗺️' }
a[href*='maps/dir']::before
  { content: '📍' }

a[href*=facebook]::before,
a[href^=facetime]::before,
a[href^=facetime-audio]::before {
  color: #fff;
  padding: 0 .3ch;
  font-weight: bold;
  font-size: 1.618ch;
  border-radius: .3em;
  background: #3b5998;
  text-shadow: .1em .1em .1em rgb(10,10,10,0.4)
 }
a[href*=facebook]::before       { content: 'ⓕ' }
a[href^=facetime]::before       { content: 'ⓕ🎥' }
a[href^=facetime-audio]::before { content: 'ⓕ🔈' }

a[accesskey='0']::before
  { content: '♿' }
a[aria-disabled=true]::before
  { content: '❌' }

:is( sup a, sub a )::before { content: '[' }
:is( sup a, sub a )::after { content: ']' }

hr[role=presentation]::before, hr[role=presentation]::after
  { content: '\2020' }
del::before { content: '−' }
ins::before { content: '+' }

dfn::before { content: '📖' }
code > dfn::before { content: '\200B' }

q::before { content: '🗣️' open-quote }
q::after  { content: close-quote }
blockquote::before { content: open-quote }
blockquote::after { content: no-close-quote '⤷\2002' attr(cite) }

q + ::before { content: '\2014 ' }
blockquote cite::before { content: normal }

samp > kbd::before { content: '$' }

[itemscope]::before { content: '🆔' attr(itemid) }
[data-icon]::before { content: attr(data-icon) }
:is( dl, ol, ul, menu, [role=feed] ):is( [aria-label], [data-icon] )::before
  { content: attr(data-icon) ' ' attr(aria-label) }
figcaption::before{ content: '⇧' }

time::before { content: '⌛' }
time[datetime]::before { content: '🗓' }
time[datetime]::after{ content: attr(datetime) }
time[datetime*=T]::before { content: '⌚' }
time[role=timer]::before { content: '⏱️' }

li::before, li::after { content: '\200B' }
ol > li::before { content: '\200B' }
dt[role=term]::before
  { content: counter(term) '.' }
dd[role=definition]::before
  { content: counter(definition) ':' }
li[data-icon]::before {
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.3em" height="1em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="80%" y="1.0em">☑️</text></svg>');
}
[role=log] li {
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.3em" height="1em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="80%" y="1.0em">🪵</text></svg>');
}
[role=log] li::before { content: '\200B' }
[role=log] li:hover::after { content: '◀' }
:is( ol, ul, menu )[role=toolbar]::before {
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.2em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="90%" y="1.2em">⚙️</text></svg>');
}
[role=tree] li {
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.2em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="90%" y="1.2em">┣</text></svg>');
}
[role=tree] li:last-of-type {
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.2em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="90%" y="1.2em">┗</text></svg>');
}

[aria-haspopup] {
  /* display: inline-block; */
  /* margin: 0; */
  /* width: auto; */
}
:is( [aria-haspopup] ) :is( ol, ul, menu ) {
  background: red;
  /* position:absolute; */
  top: 2em;
  display: inline-flex;
  z-index: 1;
}
:is( [aria-haspopup] ):hover :is( ol, ul, menu ) {
  background: red;
}
:is( [aria-haspopup] ) :is( li ) {
  display: block;
  width: inherit;
  background: yellow;
}

[name] > summary::before { content: counter(details) '.' }
:where( [role] ) > summary::before { content: '▶' }
[role] > summary::after {}
:where( [role][open] ) > summary::before { content: '▼' }
[role=tree] summary::before  { content: '⊞' '📁' }
:is( [role=tree][open], [role=tree] [open] )
  > summary::before  { content: '⊟' '📂' }
[role$=group] > summary::before { content: '➕' }
[role$=group][open] > summary::before { content: '➖' }
:is( [role=none], [role=presentation], [open][role=none], [open][role=presentation] )
  > summary::before { content: '\200B' }


table::before, table::after
  { content: '☶ table' }
thead::before, thead::after
  { content: '👤' }
table > tbody::before, table > tbody::after
  { content: '🫀' }
table > tfoot::before, table > tfoot::after
  { content: '👣' }
table > caption::before, table > caption::after
  { content: '🗨' }
table tr::before, table tr::after
  { content: 'tr' }
tbody tr::after { content: '\2800' }
tbody tr:hover::after  { content: '◀' }
table th::before, table th::after
  { content: 'th' }
table td::before { content: '>' }
table td::after  { content: '<' }

dl[itemscope] dt::after { content: ':' }
dl[itemscope] dt::after { content: ':' }


/* Navigations ================================================================== */
nav > header::before { content: '🧭' }
nav > header::after { content: '⬊' }

[role=navigation] { content: attr(data-icon) }
[role=navigation][dir]::after { content: '🍔' }
[role=navigation] > summary::before,
[role=navigation] > summary::after
  {}
[role=navigation] > summary::after
  { content: '\200B' }
:is( nav, [role=navigation] )
  li::before {content: '▷' }
:is( nav, [role=navigation] )
  li > a::before { content: '▸' }
:is( body > nav, [role=navigation] )
  li > a::before { content: '📄' }
:is( body > nav, [role=navigation] )
  li > a:hover::before { content: '📝' }
:is( body > nav, [role=navigation] )
  :is( [open] ) > summary::before { content: '📂' }
:is( body > nav, [role=navigation] )
  :not( [open] ) > summary::before { content: '📁' }
