/* Unicode - https://www.amp-what.com
 ' ' - thin space U+2020 \2020 &#x2020; &Space;
 ' ' - thin space U+2009 \2009 &#x2009; &ThinSpace;
 ' ' - hair space U+200A \200A &#x200A; &HairSpace;
 '​' - zero-width space U+200B \200B &#x200B; &ZeroWidthSpace;

  - Emoji Database - https://emojidb.org
  - Test Icons - https://dev.w3.org/SVG/profiles/1.1F2/test/images
  - Whitespace - https://en.wikipedia.org/wiki/Whitespace_character
  - What Character? https://www.babelstone.co.uk/Unicode/whatisit.html
  - URL Schemes - https://en.wikipedia.org/wiki/Uniform_Resource_Identifier
  - Useful Symbols - https://en.wikibooks.org/wiki/Unicode/List_of_useful_symbols
  - Apple URL Protocol Schemes - https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/Introduction/Introduction.html#//apple_ref/doc/uid/TP40007899
*/

*::before, *::after, *::marker { vertical-align: middle }

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:where */
:where( header, h1, h2, h3, h4, h5, h6 )::before
  { content: '\2009' }

:where( header, h1, h2, h3, h4, h5, h6 )[id]::before {
  opacity: 25%;
  overflow:hidden;
  content: '\1F517';
  max-width: 1.68em;
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  background-color: inherit;
  border-radius: 0.68ch;
}
:where( header, h1, h2, h3, h4, h5, h6 )[id]:hover::before
  { opacity: 75% }

a::before, a::after
  { content: '\200B' } /* needed for flex stretch - https://compart.com/en/unicode/U+200B */

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel */
body > footer small::before
  { content: '⚖️' }
footer small ~ a:link::before
  { content: '' }
a[target=legal]::before
  { content: '⚖️' }
a:link[rel=license]::before
  { content: '📝' }
a:link[rel=copyright]::before
  { content: '🔏' }
a:link[rel=privacy-policy]::before
  { content: '🛡️' }
a:link[rel=terms-of-service]::before
  { content: '🔰' }
a[rel=external]::before
  { content: '🌐' }
a[rel=nofollow]::after
  { content: '🤫' }
a[rel=sponsored]::after
  { content: '💸' }
a[rel=ugc]::before
  { content: '🗣️' }
a[rel=help]::after
  { content: '❓' }
a[rel=author]::before
  { content: '🖊️' }
a[rel=bookmark]::before
  { content: '📁' }
a[download]::before
  { content: '⟱' }
a[rel=pingback]::before
  { content: '⥹' }
a[rel=next]::after
  { content: '⇨' }
a[rel=prev]::before
  { content: '⇦' }
a[rel=tag]::before
  { content: '#' }
a[rel=search]::before
  { content: '🔍' }
a[rel=alternate][hreflang]::before
  { content: attr(hreflang) attr(target) }

a[href='#']::before /* Jump-To-Top link */
  { content: '⇭' }
a[href*=github]::before
  { content: '🐙' }
a[href^=mailto]::before
  { content: '📧' }
a[href^=tel]::before
  { content: '📞' }
a[href^=sms]::before
  { content: '💬' }
a[href*=twitter]::before
  { content: '🐦' }
a[href*=instagram]::before
  { content: '📷' }
a[href*=youtube]::before {
  content: '►';
  color: #fff;
  background: #f00;
  padding-inline: 0.7ch;
}

a[href*=iTunes i]::before
  { content: '🎵'; }
a[href*='maps.apple.com']::before
  { content: '🌎' }

a[href*='maps/search']::before
  { content: '🗺️' }
a[href*='maps/dir']::before
  { content: '📍' }

a[href*=facebook]::before,
a[href^=facetime]::before,
a[href^=facetime-audio]::before {
  color: #fff;
  padding: 0 .3ch;
  font-weight: bold;
  font-size: 1.618ch;
  border-radius: .3em;
  background: #3b5998;
  text-shadow: .1em .1em .1em rgb(10,10,10,0.4)
 }
a[href*=facebook]::before       { content: 'ⓕ' }
a[href^=facetime]::before       { content: 'ⓕ🎥' }
a[href^=facetime-audio]::before { content: 'ⓕ🔈' }

a[accesskey='0']::before
  { content: '♿' }
a[aria-disabled=true]::before
  { content: '❌' }

body > nav::before
  {/* content: '🍔'; */} /* ☰ 🍔 */
nav > header::before { content: '🧭' }
nav > header::after { content: '⬊' }
nav > details > summary::marker { content: inherit }

figcaption::before{ content: '⇧' }

time::before { content: '⌛' }
time[datetime]::before { content: '🗓' }
time[datetime]::after{ content: attr(datetime) }
time[datetime*=T]::before { content: '⌚' }
time[role=timer]::before { content: '⏱️' }



:is( ol,ul) {}
:is( dl, ol, ul ) ol {}
:is( dl, ol, ul ) ul { margin-left: 2em }
:is( ol,ul )::marker,
:is( ol,ul ) ::marker {
  font-size: larger;
  color: currentColor;
}
:is( ol ) { list-style-position: inside }
:is( ol )[type='1'] { list-style-type: decimal-leading-zero }
:is( ol )::before { /* list-style-type: list; */ }
:is( ol, ul, menu )[data-icon] { list-style-image: unset }

li { clear: both }
li::marker {}
li::before, li::after {
  width: auto;
  content: '\200B';
  text-align: center;
}
li::before {}
li::after {
  display: none;
  margin-left: 0.5ch;
}
li:hover {
  z-index: 1;
  background: inherit;
}
:is( ol, ul, menu ) :is(li)[aria-haspopup] {
  background: yellow;
  /* display: inline-block; */
  margin: 0;
  /* width: auto; */
}
:is( ol, ul, menu ) :is(li)[aria-haspopup] :is( ol, ul, menu ) {
  background: red;
  display: block;
  /* margin: 0; */
  width: fit-content;
  /* position: relative; */
}
:is( ol, ul, menu ) :is(li)[aria-haspopup] :is( li ) {
  display: block;
  width: inherit;
}
ol > li {}
ol > li::before {
  content: '8';
  margin-left: 0ch;
}
ul > li {}
ul > li::before {}
:is(ol, ul, menu ):where( [aria-label], [data-icon] )::before {
  padding: 0 0.5ch;
  display: inherit;
  font-size: inherit;
  font-weight: bolder;
  line-height: inherit;
  background: yellow;
  text-transform: capitalize;
  border-bottom: 0.1ch solid;
  width: -webkit-fill-available;
  width: -moz-available;
  content: attr(data-icon) ' ' attr(aria-label);
  /* list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.3em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="100%" y="1em">➤</text></svg>'); */
  /* list-style-image: url('https://dev.w3.org/SVG/profiles/1.1F2/test/images/20x20.png'); */
}
li[data-icon]::before {
  float: left;
  display: list-item;
  margin-right: 0.5ch;
  content: attr(data-icon);
  list-style-position: inside;
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.3em" height="1em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="80%" y="1.0em">☑️</text></svg>');
}
[role=presentation] li { border-width: 0 }
[role=presentation] li::before {}

[role=log] li {
  cursor: text;
  /* display: flex; */
  /* display: initial; */
  border-bottom: 0.1ch solid Canvas;
  justify-content: space-between;
  list-style-position: inside;
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.3em" height="1em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="80%" y="1.0em">🪵</text></svg>');
}
[role=log]:hover li {
  opacity: 0.5;
}
[role=log] li::before,
[role=log] li::after {
}
[role=log] li::before {
  content: '\200B';
  cursor: e-resize;
}
[role=log] li::after {
  min-width: 2em;
  cursor: w-resize;
  justify-self: right;
  display: inline-block;
}
[role=log] li:hover { opacity: 1 }
[role=log] li:hover::after { content: '◀' }

:is( ol, ul, menu )[role=toolbar],
:is( ol, ul, menu )[aria-orientation=horizontal] {
  margin-left: auto;
  width: calc(100%);
}
:is( ol, ul, menu )[role=toolbar] {
  list-style: none;
  outline: 0.1ch solid;
}
:is( ol, ul, menu )[role=toolbar]::before {
  display: list-item;
  background: Canvas;
  list-style-position: inside;
  list-style-image:
    url('data:image/svg+xml;utf8,<svg width="1.2em" height="1.3em" xmlns="http://www.w3.org/2000/svg"><text fill="Canvas" font-size="90%" y="1.2em">⚙️</text></svg>');
}
:is( ol,ul, menu )[role=toolbar] li {
  outline: 0.1ch solid;
  display: inline-flex;
}
:is( ol,ul, menu )[aria-orientation=horizontal] {
  display: flex;
  /* list-style-image: unset; */
  list-style-position: inside;
  flex-direction: var(--flex-direction);
}
:is( ol,ul, menu )[aria-orientation=horizontal] li {
  white-space: normal;
  word-break: keep-all;
  width: inherit;
  padding: 0 .5ch;
  /* display: inline-block; */
}
:is( ol, ul, menu )[aria-orientation=horizontal] :is( ol, ul, menu ) {
  /* top: 2em; */
  /* margin: 0 auto 0.5ch; */
  /* position: absolute; */
  /* width: 100%; */
  margin: 0 auto 0.5ch;
}
menu {
  list-style: none
}
menu[role=toolbar] {
  background: rgba(255,255,255,0.4);
}
menu > li > * {
  margin: 0;
  margin: 0.2ch;
  max-width: unset;
  white-space: nowrap;
}
menu[role=toolbar] > li {
  width: auto;
  display: inline-block;
}
menu[role=toolbar] > li::before {
  margin: 0;
}
menu[role=toolbar] button {
  width: 2em;
  padding: 0;
  overflow: hidden;
  background: inherit;
}
button:focus-visible { z-index: 1 }
button::before {
  min-width: 2em;
  cursor: inherit;
  content: '\200B';
}
button[data-icon]::before {
  content: attr(data-icon);
}



table::before, table::after
  { content: '☶ table' }
thead::before, thead::after
  { content: '👤' }
table > tbody::before, table > tbody::after
  { content: '🫀' }
table > tfoot::before, table > tfoot::after
  { content: '👣' }
table > caption::before, table > caption::after
  { content: '🗨' }
table tr::before, table tr::after
  { content: 'tr' }
table th::before, table th::after
  { content: 'th' }
table td::before { content: '>' }
table td::after  { content: '<' }
