@import 'typography.css';
/* @import 'icons.css'; */
@import 'forms.css';
/* @import 'colors.css'; */
/* @import 'images.css'; */
@import 'animation.css' screen;
@import 'print.css' print;
@import 'speech.css' speech;


/*
  - normalize.css
    https://www.reddit.com/r/webdev/comments/8q269x/is_css_reset_necessary_still_in_2018/
 
  - sanitize.css
    https://github.com/csstools/sanitize.css/blob/master/sanitize.css
*/
/*
  @media resolution - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/resolution
*/
:root {
  --max-width: 100vw;
  --shadow:
    0.05em 0.05em 0.2em
  rgba(10, 10, 10, 0.9);
  --box-shadow:  var(--shadow);
  --text-shadow: var(--shadow);
  --drop-shadow: drop-shadow( var(--shadow) );
}

@media screen and (min-width: 1000px) {
  :root {
    --max-width: 1000px
  }
}

::before, *:before, ::after, *:after
{
  white-space: pre;
  /* https://stackoverflow.com/questions/8820286/how-to-remove-only-underline-from-abefore */
  display: inline-block;
  text-decoration: none;
  vertical-align: baseline
}

::-moz-focus-inner { /* Remove the inner border and padding of focus outlines in Firefox */
  padding:      0;
  border-style: none
}

:-moz-focusring
  /* Restore focus outline - https://github.com/necolas/normalize.css/issues/481 */
  { outline: 1px dotted ButtonText }

/*
  LAYOUT
  boxing - https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html
  { box-sizing: border-box }
html *, html ::before, html ::after, html *:before, html *:after
/* https://stackoverflow.com/questions/7327326/what-is-the-difference-between-before-and-before */
  { box-sizing: inherit }

body, body > header, body > main, body > aside, body > footer
  { max-width: var(--max-width) }

html, body
  { width: 100% }

body > header { margin-bottom: 1.612em }
body > main   { }
body > aside  { }
body > footer { }

template /* IE custom elements */
  { display: none }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section
  { display:block }

details {}
details#swatches {}
details#swatches *:not(em) {
  width: 80%;
  margin: auto;
  display: block;
  white-space: nowrap;
}
summary
  { display: list-item }

/* CSS3 Lists
 * https://drafts.csswg.org/css-lists-3/
 */
ul {}
ol {}
li {}
dl {}
dt {}
dd {}

table
{
  width: inherit;
  table-layout: fixed;
  outline-width: 0.4em;
  outline-style: double;
  border-collapse: collapse;
  box-shadow: var(--box-shadow)
}

/*
 * cursors - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
 * pointer-events - https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
 */
a { cursor: pointer }
abbr[title]
  { cursor: help }
/* cursors - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
summary
  { cursor: pointer }
progress
  { cursor: progress }
/* readonly - https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/readonly */
/* disabled - https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled */
[readonly], :read-only
  { /* cursor: not-allowed */ }

/* media.css */
canvas {
  display: inline-block;
  outline: 1px solid
}

audio, canvas, embed, iframe, img, object, picture, svg, video {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  margin: 0 auto 1.612em
}

iframe
  { border: none }

/* overflows */
body
  > * {
    /* Use for horizontal scrolling and snapping. */
    overflow-y: auto;
    overflow-x: hidden
  }

hr { overflow: visible }
svg {
  /* SVG overflow bug in IE10/11. See https://github.com/twbs/bootstrap/issues/26878 */
  overflow: hidden
}
button, input, select {
  /* Show the overflow in IE / Edge */
  overflow: visible
}
textarea {
  overflow: auto /* Remove IE vertical scrollbar. */
}


/* accessibility.css
 * 
 * WAI-ARIA guide - https://github.com/w3c/aria-practices
 * Focus Indicators - https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/
 * Aria Roles States and Properties - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques
 */

/* LANDMARKS */
[role=banner]      , body > header {}
[role=search]      , form[name=search] {}
[role=main]        , main {}
[role=contentinfo] , body > footer {}

[tabindex='-1']:focus
  { outline: 0 }
[aria-controls]
  { cursor: pointer }
[aria-busy=true]
  { cursor: progress }
[aria-disabled=true]
  { cursor: not-allowed }
[hidden], [aria-hidden=true] .hide,  {
  /* Invisible content - https://webaim.org/techniques/css/invisiblecontent/ */
  border: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: auto;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0)
}
[href='#main'] { /* skip link */
  bordr: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: auto;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0)
}
[href='#main']:focus {
  all: inherit;
  display: block;
  outline: dotted 0.1em
}

/* PWA RELATED */
html, body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent
}

/* Pointer events
  - https://css-tricks.com/almanac/properties/p/pointer-events/
  - https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
*/
// html * { pointer-events: none }

