@charset 'utf-8'; /* https://en.wikipedia.org/wiki/UTF-8 */

/* CSS Nesting - https://drafts.csswg.org/css-nesting */

/* @import layers
  - https://caniuse.com/css-cascade-layers
  - *** https://css-tricks.com/css-cascade-layers
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@layer
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@import
  - *** https://smashingmagazine.com/2022/01/introduction-css-cascade-layers
  - *** https://xfive.co/blog/itcss-scalable-maintainable-css-architecture/#organize-layers-to-subfolders
*/
@layer /* explicit layer ordering */
  print, forms, icons, layout, animation, multimedia, typography, accessibility, speech, i18n;

/* ** BUG WHEN NOT USING URL** - https://css-tricks.com/css-tricks-chronicle-vol-iv
@import url('print.css') layer(print) print;
@import url('forms.css') layer(forms) all, not print;
@import url('icons.css') layer(icons) not speech;
@import 'color.css' layer(color) color;
@import url('layout.css') layer(layout) all;
@import url('animation.css') layer(animation) not print;
@import url('multimedia.css') layer(multimedia) screen;
@import url('typography.css') layer(typography) all;
@import url('accessibility.css') layer(accessibility) not print;
@import url('speech.css') layer(speech) speech not print;
@import url('i18n.css') layer(speech) speech not print;
*/
@import url(print.css);
@import url(forms.css);
@import url(icons.css);
/* @import url(color.css); */
@import url(layout.css);
@import url(animation.css);
@import url(multimedia.css);
@import url(typography.css);
@import url(accessibility.css);
@import url(speech.css);
@import url(i18n.css);

/*
  CSS Selectors 4
    - https://drafts.csswg.org/selectors-4

  CSS Specificity
    - https://css-tricks.com/specifics-on-css-specificity
    - https://polypane.app/css-specificity-calculator

  CSS Logical Properties
    - https://adrianroselli.com/2019/11/css-logical-properties.html

  DISPLAY: CONTENT IS NOT A CSS RESET
    - https://adrianroselli.com/2018/05/display-contents-is-not-a-css-reset.html

  Google HTML/CSS Style Guide
    - https://google.github.io/styleguide/htmlcssguide.html

  Apple CSS Guide
    - https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html

  Incomplete list of Mistakes in the Design of CSS
    - https://wiki.csswg.org/ideas/mistakes
    - CSS inherit, initial, unset, revert - https://css-tricks.com/inherit-initial-unset-revert

  Web Performance - https://developer.mozilla.org/en-US/docs/Web/Performance
    - CSS Performance - https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS

  !important INSPIRATION - https://github.com/twbs/bootstrap/issues/22815

  @media
    - resolution - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/resolution
*/
:root {
  --max-width: 100%; /* https://dev.to/tepythai/why-100vw-causes-horizontal-scrollbar-4nlm */

  /* Shadows
    - https://caniuse.com/css-filters
    - https://caniuse.com/css-boxshadow
    - https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
    - https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow
    - https://drafts.fxtf.org/filter-effects/#funcdef-filter-drop-shadow
    - https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow
  */
  --shadow: 0.05em 0.05em 0.2em currentColor;
  --box-shadow: var(--shadow);
  --text-shadow: var(--shadow);
  --drop-shadow: drop-shadow( var(--shadow) );
}

/*
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/any-pointer
  - https://patrickhlauke.github.io/touch/pointer-hover-any-pointer-any-hover/results
  - https://css-tricks.com/interaction-media-features-and-their-potential-for-incorrect-assumptions
*/
/*
 * cursors
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer
 */
@media (pointer: fine) { /* mouse */ }
@media (pointer: coarse) { /* finger */ }

@media screen and (min-width: 1000px) {
  :root { --max-width: 90vw }
}

/* pseudo elements - https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements */

/* Scrollbars
  - https://drafts.csswg.org/css-scrollbars-1
  - https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
*/
::-webkit-scrollbar {
  /* entire scrollbar region */
  width: 1em;
  background: inherit;
}
::-webkit-scrollbar:hover { background: Canvas }
::-webkit-scrollbar-track {
  /* entire track region */
  background: transparent;

  &:hover { background: inherit }
}
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
  /* track pieces */
  background: none;

  /* (unscrolled) track pieces */
  &:active { background: CurrentColor }
}
::-webkit-scrollbar-track-piece:active, ::-webkit-scrollbar-corner:active {
  background: CurrentColor;
}
::-webkit-scrollbar-thumb {
  /* scrollbar thumb */
  /* test scrollbar height */
  height: 30%;
  border: .3em solid;
  border-color: Canvas;
  border-radius: 0.618em;
  outline: 0.1618em solid;
  outline-offset: -0.168em;
  background:  CurrentColor;
  outline-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  outline-color: CurrentColor;
}
::-webkit-scrollbar-thumb:active {
  border-color: CurrentColor;
}
::before, ::after, ::marker { display: inline-block }
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop */
::backdrop { background: currentColor }

html {
  color: CanvasText;
  scrollbar-width: 2em;
  scrollbar-gutter: 3em;
  background-color: Canvas;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color */
  scrollbar-color: CanvasText Canvas;
}
body {}
body > * { outline: 0.3ch dashed }
body > header, body > nav, body > main, body > aside, body > footer {
  background: inherit;
}
body > header {}
body > nav {
  box-shadow: var(--box-shadow);
}
body > nav::before {
  /* cursor: pointer; */
  /* font-size: xxx-large; */
}

body > main { scroll-snap-align: start }
body > aside { background: ButtonFace }
body > footer {
  color: CanvasText;
  background: Canvas;
}

a {
  position: relative;
  border-radius: 0.2ch;
  display: inline-block;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
p > a { display: inline }
footer p > a { display: inline-block }


header, h1, h2, h3, h4, h5, h6 {
  color: CanvasText;
  overflow: hidden;
  display: list-item;
  width: -moz-available;
  width: -webkit-fill-available;
  border-radius: 0.68ch;
  counter-increment: header;
  list-style-position: inside;
  list-style-type: upper-alpha; /* default */
  list-style-type: header; /* overrides */
}
:where( header, h1, h2, h3, h4, h5, h6 )[id]::before {
  opacity: 25%;
  overflow:hidden;
  max-width: 1.68em;
  display: inline-block;
  border-radius: 0.68ch;
  background-color: inherit;
}
:where( header, h1, h2, h3, h4, h5, h6 )[id]:hover::before
  { opacity: 75% }

h1 {
  display: block;
  counter-reset: header 0;
}
header { list-style-type: decimal-leading-zero }
:is( a ) > :where( header, h1, h2, h3, h4, h5, h6 ),
:where( header, h1, h2, h3, h4, h5, h6 ) > :is( a ) {
  width: auto;
  margin: 0 auto;
  color: CanvasText;
  line-height: 1.68em;
  max-width: calc( 100% - 2ch );
}
:is( a ) > :where( header, h1, h2, h3, h4, h5, h6 ) {}
:where( header, h1, h2, h3, h4, h5, h6 ) > :is( a ) { width: auto }
:where( a ):has( header, h1, h2, h3, h4, h5, h6 ) {}
nav > header {}
nav > header::before,
nav > header::after {}
nav > header::before {}
nav > header::after {}

iframe {
  width: 100%;
  border: none;
  height: 80dvh;
}
hr { /* https://lifewire.com/styling-horizontal-rule-tag-3466399 */
  border: 0;
  height: .15em;
  opacity: 0.25;
  max-width: 80vw;
  overflow: visible;
  box-sizing: content-box;
}

abbr { border-bottom: 0 } /* http://webtypography.net/3.2.2 */
abbr[title] { cursor: help }

mark { /* Custom Highlights API - https://drafts.csswg.org/css-highlight-api-1 */
  padding: 0.1618em;
  border-radius: 0.318em;
  box-shadow: var(--box-shadow);
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break */
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

/* https://stackoverflow.com/q/5437674/what-unicode-characters-represent-time */
time:empty {
  color: canvas;
  background: CanvasText;
}
time:empty::before { margin-right: 0 }
time, time::before, time::after { border-radius: inherit }
time {
  cursor: wait;
  background: Canvas;
  border-radius: 1ch;
  font-weight: bolder;
  display: inline-block;
}
time::before, time::after { cursor: inherit }
time::before {}
time::after {
  opacity: 0.5;
  display: block;
  background: inherit;
}
time[title] { background: Canvas }
time[datetime] { background: rgba(255,255,255,0.5) }
time[datetime]:where( :hover, , :focus-visible, :focus-within )::after
  { opacity: 1.0 }
p > time::after {
  right: 0;
  opacity: 0;
  position: absolute;
  background: Canvas;
}
p > time[datetime] {}

code, kbd, pre, samp, var, data {
  color: CanvasText;
  border-radius: .5ch;
  background-color: ButtonFace;
}
code {}
pre > code {
  display: inherit;
  white-space: pre;
  border: solid currentColor;
  border-width: 0 0 0 0.02em;
}
var, data {}
kbd {
  min-width: 2em;
  color: CanvasText;
  border-radius: 0.5ch;
  border: 0.168em solid;
  display: inline-block;
  background-color: Canvas;
  box-shadow: 0.25ch 0.25ch 0 currentColor;
}
kbd > kbd:hover {
  color: Canvas;
  background-color: CanvasText;
}
samp > kbd {
  border: none;
  box-shadow: none;
  background: inherit;
  display: inline-flex;
  align-items: baseline;
}
samp > kbd::before {
  display: list-item;
  list-style-type: '💻';
  list-style-position: inside;
}
samp {
  max-width: 100%;
  overflow-x: auto;
  display: inline-block;
}
kbd > samp { overflow-x: unset }
pre {
  overflow: auto;
  box-shadow: 0 0 0.618ch;
}

math {
  width: fit-content;
  math-style: compact;
  display: inline-block;
  background: ButtonFace;
  border: 0.3ch solid Canvas;
}
math[display=inline] {display: math;}
math[display=block] {
  display: block;
}
math::before, math::after {}
math::before {}
math::after {}

p {}
p::after { clear: both }

/*
  - https://isotropic.co/the-best-css-styling-for-blockquotes
  - https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling
*/
blockquote { /* http://webtypography.net/2.3.3 */
  opacity: 85%;
  max-width: 80%;
  border-radius: 1ch;
  border: 0.01618em solid;
}
blockquote::before {
  opacity: 80%;
  content: open-quote;
  transform: translate(1ch, 2ch) scale(6);
}
blockquote::after {
  opacity: 40%;
  font-size: large;
  content: no-close-quote '⤷\2002' attr(cite);
}

/* http://html5doctor.com/the-details-and-summary-elements */
/* https://nerdy.dev/open-and-close-transitions-for-the-details-element */
details {}
summary {
  display: block;
  cursor: s-resize;
  border-bottom: .1ch solid;
  list-style-position: inside;
}
summary::before, summary::after { cursor: inherit }
details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */
  { display: none } /* https://stackoverflow.com/a/66814239 */
details > summary::before { content: '►' }
details > summary::after { content: '◀' }
details[open] > summary { cursor: n-resize }
details[open] > summary::before { content: '▼' }
details[open] > summary::after  { content: '▼' }


/* Navigations ==================================================================
 *   - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/menu_role
 *   - https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/menubar_role
 *   - https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-editor
 *   - https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-navigation
 *   - https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/examples/disclosure-navigation
 *   - https://w3.org/WAI/ARIA/apg/patterns/disclosure/examples/disclosure-navigation-hybrid
 */
body > a[href='#main'] { z-index: 1 }

nav {}
nav > * {}
nav > details {
  width: inherit;
  outline-style: dotted;
  margin-block: var(--margin-collapse-bugfix);

  &::before, &::after {}
  &::before {
    text-indent: 1em;
    display: list-item;
    list-style-type:  '⚙️';
    list-style-position: inside;
    margin: var(--margin-collapse-bugfix) auto;
  }

  &[open] {
    /* overflow-y: scroll; */
  }
}
nav > details > summary::marker {}

nav > details > ul {
  margin: unset;
  width: inherit;
  display: list-item;
  position: relative;
}
nav > details > ul li li {
  list-style: '➱' inside;
}
nav > details > ul li li:hover {
  list-style-type: '➯';
}

nav li {
  margin: 1ch;
  padding: 1ch;
  display: flex;
  background: inherit;
  align-items: center;
  justify-content: space-between;
}
nav li::before, nav li::after {
  content: '\2009';
  background: red;
}
nav li::before {
  content: '▷';
  background: inherit;
}
nav li::after  {}
nav li:hover::before, nav li:focus-within::before {
  background: red;
}
nav li > a:link {
  padding: 0;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li > a:link::before, nav li > :link::after {}
nav li > a:link::before { content: '▸' }
nav li > a:link::after { content: '' }

body > nav li li :link:focus-visible {
  background-color: Mark;
}
body > nav li li :link::before {
  content: '📄';
  display: inline-block;
  line-height: var(--line-height);
}
body > nav li li :link:hover::before { content: '📝' }
body > nav > details {
  text-align: inherit;

  &::after {
    top: 0;
    z-index: -1;
    opacity: 75%;
    content: '🍔';
    display: none;
    width: inherit;
    height: 100svh;
    font-size: 25vh;
    position: fixed;
    text-align: center;
    line-height: 100svh;
    background: transparent;
    backdrop-filter: blur(19px); /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
  }

  &[open] {
    &::after { display: block }

    & > summary { margin-block-end: 1ch }
  }

  & > summary { /* https://htmlsymbols.xyz/unicode/U+2630 */
    list-style: '☰';
    cursor: pointer;
    line-height: 3em;
    outline: 2px dashed;
    background: inherit;
    list-style-position: inside;
    /* clip-path: inset(0px 244px 1px 170px); */

    &::before, &::after {
      content: '☰Menu';
      cursor: inherit;
      outline: inherit;
      display: inherit;
      background: inherit;
      list-style: inherit;
      list-style-position: inherit;
    }
    &::before { float: left }
    &::after  { float: right }

    &:hover {
      &::before, &::after {}
    }
  }
}


small {}
body > footer small { opacity: 0.68 }
article address, body > footer address, [contentinfo] address {
  background: Canvas;
  border-radius: 0.68ch;
}
body > footer address, [contentinfo] address {
  border-radius: 0;
}
address { background: red }
article address {}

ruby {
  color: CanvasText;
  width: fit-content;
  border-radius: 1vw;
  display: inline-block;
  display: block ruby;
  box-shadow: 0 0 .168ch;
  background-color: Canvas;
}

article {}

/* Table styling
  - https://adrianroselli.com/2018/02/tables-css-display-properties-and-aria.html
  - counter styling & fallback
    - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors
    - https://stackoverflow.com/q/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody/17380697#17380697
*/
table {
  border-radius: 1ch;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  counter-reset: table rows th tr td;
  background: rgba(255,255,255,0.5);
}
table::before, table::after {
  display: block;
  background: inherit;
}
table::before { border-radius: 1ch 1ch 0 0 }
table::after  { border-radius: 0 0 1ch 1ch }

table tr { display: flex }
table tr > * {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  display: inline-flex;
  justify-content: space-between;
  outline: 0.1em solid currentColor;
}
table tr::before, table tr::after,
table tr > *::before, table tr > *::after {
  min-width: 2em;
}
table th {
  /* position: sticky; */
  background: inherit;
}
table th:empty { border: none }

table td {
  -webkit-user-select: all; /* Webkit (Chrome all / Safari all) */
          user-select: all; /* https://caniuse.com/mdn-css_properties_user-select_text */
}
table td:empty { border: none }

table > caption {
  /* top: 0; */
  /* position: sticky; */
  /* caption-side: bottom; */
  border-radius: 1ch;
  background: inherit;
}
table > caption::before, table > caption::after {
  display: block;
  background: inherit;
}
table > thead, table > tfoot { background: inherit }
table > thead {
  z-index: 0;
  display: block;
  position: relative;
  background: inherit;
}
table > thead::before, table > thead::after {
  display: block;
  background: inherit;
}
table > tfoot {
  z-index: 0;
  display: block;
  position: relative;
  background: inherit;
}
table > tfoot::before, table > tfoot::after {
  display: block;
  background: inherit;
}
table > tbody {
  z-index: 1;
  display: block;
  position: relative;
  background: inherit;
}
table > tbody::before, table > tbody::after {
  display: block;
  background: inherit;
  border: solid currentColor;
  border-width: 0.1618em 0;
}
tbody tr { counter-increment: rows }
tbody tr:nth-child(even) { background: inherit }
tbody tr::before {
  opacity: 0.3;
  content: counter(rows) '.';
}
tbody tr::after { content: '\2800' }
tbody tr:hover  { outline: 0.2ch solid currentColor }
tbody tr:hover::before { opacity: 1.0 }
tbody tr:hover::after  { content: '◀' }

tbody tr:hover td:not(:hover) { opacity: 50% }


/* CSS3 Lists
  https://drafts.csswg.org/css-lists-3
  https://perishablepress.com/sexy-html-list-tricks
  Styling lists - https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists

  ::marker
  - https://drafts.csswg.org/css-pseudo/#marker-pseudo
  - https://drafts.csswg.org/css-lists-3/#marker-properties
  - https://css-tricks.com/everything-you-need-to-know-about-the-gap-after-the-list-marker
*/
::marker {
  color: inherit;
  font-size: inherit;
}
ul {}
ol { list-style-position: inside }
ol[type='1'] { list-style-type: decimal-leading-zero }
ol::before {}
:is( ol, ul, menu )[data-icon] { list-style-image: unset }
li { clear: both }
li li {}
li::marker {}
li::before, li::after { width: auto }
li::before {}
li::after  { display: none }
li:hover {
  z-index: 1;
  background: inherit;
}
:where( ol, ul ) > li {}
ol > li {}
ul > li {}
ol > li::before,
ol > li::before {}
ul > li::before {
  display: inline;
  line-height: inherit;
}
ol > li::after,
ul > li::after {}
ol > li::after {}
ul > li::after {}

:is(dl, ol, ul, menu ):where( [aria-label], [data-icon] )::before {
  width: 100%;
  display: list-item;
  list-style-position: inside;
  border-bottom: 0.1ch solid;
}
dl[aria-label]::before { text-transform: unset }
li[data-icon]::before {
  /* float: left; */
  /* display: list-item; */
  list-style-position: inside;
}
:is( [role=none], [role=presentation] ) {}

:is( [role=none], [role=presentation] ) :is( ol, ul, menu ) {
  width: auto;
  max-width: initial;
  list-style: inherit;
}
:is( [role=none], [role=presentation] ) li {
  border-width: 0;
  max-width: unset;
  width: -moz-available;
  width: -webkit-fill-available;
}
[role=feed] {
  max-height: 25em;
  overflow-x: auto;
  border: 0.1ch solid;
  counter-reset: header;
}
[role=feed] article { border: inherit }
[role=feed]:hover article { opacity: .5 }
[role=feed]:hover article:hover { opacity: 1 }

[aria-orientation=horizontal],
[aria-orientation=horizontal]
  :is( ol, ul, menu ){ list-style-position: inside }
[aria-orientation=horizontal] { justify-content: space-around }
[role=marquee], [role=log], [role=toolbar]. [role=menubar] {
  justify-content: flex-start;
  list-style-position: inside;
}
[role=marquee], [role=log] {}
:is( [role=marquee], [role=log] ):hover li { opacity: 0.5 }
:is( [role=marquee], [role=log] ) li:hover { opacity: 1 }
[role=marquee][aria-orientation=horizontal] {
  width: max-content;
  display: inline-flex;
  overflow: auto hidden;
  width: calc( 100% - 1ch );
  list-style-position: inside;
}
[role=marquee][aria-orientation=horizontal]::before {
  left: 0;
  z-index: 1;
  /* position: fixed; */
  /* width: max-content; */
  background: Canvas;
  box-shadow: .2ch 0 .15ch;
}
[role=marquee][aria-orientation=horizontal] li {}
[role=marquee][aria-orientation=horizontal] li:first-of-type { padding-left: 100% }
[role=marquee][aria-orientation=horizontal] li:last-of-type { padding-right: 100% }
[role=log] {
  justify-content: flex-start
}
[role=log] li {
  cursor: text;
  border-bottom: 0.1ch solid Canvas;
}
[role=log] li::before,
[role=log] li::after {}
[role=log] li::before { cursor: e-resize }
[role=log] li::after {
  min-width: 2em;
  cursor: w-resize;
  display: inline-block;
}
[aria-orientation=horizontal], [role=toolbar], [role=menubar] {
  flex-wrap: wrap;
  flex-direction: var(--flex-direction);
}
[aria-orientation=horizontal], [role=menubar] { display: flex }
[aria-orientation=horizontal] {
  /* max-width: 100%; */
  /* min-width: 100%; */
  margin: 0 auto;
}
[role=menu] {}
[role=menu] li {}
[role=menubar] {
  align-items: flex-start;
  justify-content: flex-start;
}
[role=menubar] li {}
[role=tree] {
  display: block;
  list-style: disc;
  /* width: max-content; */
  /* background: red; */
  border-left: .1ch solid;
  list-style-position: outside;
}
[role=tree] li {
  margin: 0 0 0 .6ch;
  display: list-item;
  list-style-position: outside;
  line-height: unset;
}
[role=toolbar] {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-content: unset;
}
:is( [aria-orientation=horizontal], [role=toolbar], [role=menubar] )
  li { min-width: fit-content }
menu, [role=menu], [role=toolbar] {
  /* width: fit-content; */
  max-width: fit-content;
  list-style: none;
  /* min-width:  100%; */
}
:is( menu, [role=menu] )
  > li > * { max-width: unset }
[role=toolbar]::before { background: Canvas }
dl, ol, ul { background: rgba(255,255,255,0.5) }
dd > :is( dl, ol, ul ) {
  max-width: unset;
  background: inherit;
}
details :is( details, dl, ol, ul ) {}

nav > dl::before, nav > ol::before, nav > ul::before ,
nav > dl::after, nav > ol::after, nav > ul::after  {
  margin: 1ch;
  content: '+';
  display: block;
  text-indent: 1ch;
  background: inherit;
}
aside dl, aside dl > *,
aside ol, aside ol > *,
aside ul, aside ul > *,
footer dl, footer dl > *,
footer ol, footer ol > *,
footer ul, footer ul > *
  { background: inherit }
dl {
  background: unset;
  counter-reset: term 0
}
ul {width: calc( 100% - 2em - 1ch ) }
ul[role=none] { width: calc( 100% - 1ch ) }
ol {}
ol[type=i] { unicode-bidi: embed }
dd, dt, li {
  -webkit-user-select: all;
          user-select: all;
}
dd {
  background: inherit;
  border-radius: inherit;
}
dd[role=definition]
  { counter-increment: definition }
dt[role=term]::before,
dd[role=definition]::before {}
dd[role=definition] > :is( dl, ol, ul )
  { list-style-position: inside }
dt
  { counter-reset: definition 0 }
dt[role=term] {
  counter-increment: term;
  border-bottom: 0.1ch solid;
}


/**** COUNTERS *******
  - https://w3.org/TR/predefined-counter-styles
  - https://developer.mozilla.org/en-US/docs/Web/CSS/counters
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style
  - Example Demo - https://mdn.github.io/css-examples/counter-style-demo
  - https://css-tricks.com/some-things-you-might-not-know-about-custom-counter-styles
*/
@counter-style header {
  pad: '0' 3; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/pad */
  speak-as: ordered; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/speak-as */
  suffix: ') '; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/suffix */
  system: numeric; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/system */
  symbols: "0" "1" "2" "4" "5" "6" "7" "8" "9";
/*
  system: cyclic;
  system: numeric;
  system: symbolic;
  system: additive;
  system: alphabetic;

  Combined values
  system: fixed 3;
  system: extends decimal;
  */
  system: extends decimal-leading-zero;
  fallback: decimal-leading-zero; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/fallback */
}
@counter-style ordered {
  pad: '0' 2; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/pad */
  speak-as: ordered; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/speak-as */
  suffix: ') '; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/suffix */
  system: fixed; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/system */
  system: cyclic;
  system: numeric;
  system: symbolic;
  system: additive;
  system: alphabetic;
  /* Combined values
  system: fixed 3;
  system: extends decimal;
  */
  system: extends decimal-leading-zero;
  fallback: decimal-leading-zero; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/fallback */
}
@counter-style unordered {
  pad: 'x'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/pad */
  prefix: '»'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/prefix */
  symbols: '-'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/symbols */
  system: cyclic; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/system */
  fallback: cyclic; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/fallback */
  negative: '[' ']'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/negative */
  speak-as: unordered; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/speak-as */
}

@counter-style example {
  pad: 'x'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/pad */
  prefix: '»'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/prefix */
  suffix: ') '; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/suffix */
  system: fixed; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/system */
  negative: '[' ']'; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/negative */
  speak-as: example; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/speak-as */
  range: 1 1, 3 3, 5 5; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/range */
  fallback: upper-alpha; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/fallback */
  symbols: "\24B6" "\24B7" "\24B8"; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/symbols */
}



/* PWA RELATED */
/* TODO: Use @supports - https://developer.mozilla.org/en-US/docs/Web/CSS/@supports */
/* https://developer.apple.com/library/archive/documentation/AppleApplications/Conceptual/SafariJSProgTopics/DragAndDrop.html#//apple_ref/doc/uid/30001233-178644 */
@media( hover ) { /* TODO: styles for with(out) hover */ }

html, body {
  -webkit-user-drag: none; /* https://stackoverflow.com/q/15034842 */
  -webkit-user-select: none; /* Webkit (Chrome all / Safari all) */
          user-select: none; /* https://caniuse.com/user-select-none */
  -webkit-touch-callout: none; /* Safari Touch - https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout */
  -webkit-tap-highlight-color: transparent; /* https://davidwalsh.name/mobile-highlight-color */
}
html {}
body { -webkit-overflow-scrolling: touch }
body[role=application] {
  /* SCROLL SNAPPING
    - https://w3.org/TR/css-scroll-snap-1
    - https://drafts.csswg.org/css-scroll-snap-1
    - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap/Basic_concepts
  */
  /* scroll-snap-type: y mandatory */
}
/* https://ferdychristant.com/the-world-s-most-overlooked-web-optimization-for-ios-d88c7517d520 */
body > * {
  will-change: transform;
  transform: translatez(0);
}

a { -webkit-touch-callout: default }

iframe, pre, table, select[multiple] {
  /*
    - https://css-tricks.com/almanac/properties/s/scrollbar-gutter
    - https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter
    - https://bram.us/2021/07/23/prevent-unwanted-layout-shifts-caused-by-scrollbars-with-the-scrollbar-gutter-css-property
  */
  scrollbar-gutter: stable both-edges;
 }

pre code, var, p, cite, blockquote, address
/* and all id-entifiable headers */
, header[id], h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  -webkit-user-drag: auto; /* https://stackoverflow.com/q/15034842 */
  -webkit-user-select: text; /* Webkit (Chrome all / Safari all) */
          user-select: text; /* https://caniuse.com/mdn-css_properties_user-select_text */
  -webkit-tap-highlight-color: HighlightText; /* https://davidwalsh.name/mobile-highlight-color */
}

code, data, kbd, mark, pre, q, samp, var {
  -webkit-user-drag: auto; /* https://stackoverflow.com/q/15034842 */
  -webkit-user-select: all; /* Webkit (Chrome all / Safari all) */
          user-select: all; /* https://caniuse.com/mdn-css_properties_user-select_all */
  -webkit-tap-highlight-color: HighlightText; /* https://davidwalsh.name/mobile-highlight-color */
}

/* https://davidwalsh.name/mobile-highlight-color */
pre::selection, code::selection
  { -webkit-tap-highlight-color: Mark }
