@charset 'utf-8'; /* https://en.wikipedia.org/wiki/UTF-8 */

/* @import layers
  - https://caniuse.com/css-cascade-layers
  - *** https://css-tricks.com/css-cascade-layers/
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@layer
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@import
  - *** https://www.smashingmagazine.com/2022/01/introduction-css-cascade-layers/
*/
@layer /* explicit layer ordering */
  speech, accessibility, typography, forms, color, icons, multimedia, layout, print, animation;

@import 'print.css' layer(print) print;
@import 'layout.css' layer(layout) all;
@import 'icons.css' layer(icons) not speech;
@import 'typography.css' layer(typography) all;
@import 'forms.css' layer(forms) all, not print;
@import 'multimedia.css' layer(multimedia) screen;
@import 'animation.css' layer(animation) not print;
@import 'speech.css' layer(speech) speech not print;
@import 'accessibility.css' layer(accessibility) not print;
/* @import 'color.css' layer(color) color; */

/*
  Incomplete list of Mistakes in the Design of CSS
    - https://wiki.csswg.org/ideas/mistakes

  Web Performance - https://developer.mozilla.org/en-US/docs/Web/Performance
    - CSS Performance - https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS

  !important INSPIRATION - https://github.com/twbs/bootstrap/issues/22815

  @media
    - resolution - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/resolution
*/
:root {
  --max-width: 100%; /* https://dev.to/tepythai/why-100vw-causes-horizontal-scrollbar-4nlm* */

  /* Shadows
    - https://caniuse.com/css-filters
    - https://caniuse.com/css-boxshadow
    - https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
    - https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow/
    - https://drafts.fxtf.org/filter-effects/#funcdef-filter-drop-shadow
    - https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow
  */
  --shadow:
    0.05em 0.05em 0.2em currentColor;
  --box-shadow:  var(--shadow);
  --text-shadow: var(--shadow);
  --drop-shadow: drop-shadow( var(--shadow) );
}

/*
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/any-pointer
  - https://patrickhlauke.github.io/touch/pointer-hover-any-pointer-any-hover/results/
  - https://css-tricks.com/interaction-media-features-and-their-potential-for-incorrect-assumptions/
*/
/*
 * cursors
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer
 */
@media (pointer: fine)   { /* mouse */ }
@media (pointer: coarse) { /* finger */ }

@media screen and (min-width: 1000px)
  /* TODO: FIX THIS HARDCODED MAGIC NUMBER */
  { :root { --max-width: 1000px } }

/*
 * pseudo elements - https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
 */
::before, ::after {
  /* https://stackoverflow.com/questions/8820286/how-to-remove-only-underline-from-abefore */
  display: inline-block;
}

/*
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * - https://stackoverflow.com/a/16982510/7133471
 * - https://twitter.com/miketaylr/status/12228805301
 * - https://css-tricks.com/almanac/selectors/s/selection/
 */

/* scrollbars */
::-webkit-scrollbar {
  /* entire scrollbar region */
  width: 1em;
  background-color: transparent;
}
::-webkit-scrollbar:hover {
 background-color:  rgba(0,0,0,0.0618);
}
::-webkit-scrollbar-track {
  /* entire track region */
  background-color: transparent;
};
}
::-webkit-scrollbar-track:hover {
  background-color:  rgba(255,0,0,1);
}
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
  /* track pieces */
  background: transparent;
}
::-webkit-scrollbar-track-piece:hover,
::-webkit-scrollbar-corner:hover {
  /* (unscrolled) track pieces */
  background-color:  rgba(255,255,255,0.618);
}
::-webkit-scrollbar-thumb {
  /* scrollbar thumb */
  height: 50vh; /* test scrollbar height */

  border-radius: 0.618em;
  outline-offset: -0.2em;
  outline: 0.0618em solid;
  outline-color: rgba(0,0,0,0.0618);
  background-color:  rgba(0,0,0,0.0618);
}
::-webkit-scrollbar-thumb:hover {
  outline-color: rgba(0,0,0,0.618);
  background-color:  rgba(255,255,255,0.618);
}
::backdrop
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop */
  { background-color: currentColor }
::-moz-selection {
  color: HighlightText;
  background: Highlight;
}
::selection {
  color: HighlightText;
  background: Highlight
}
::-moz-focus-inner { /* Remove the inner border and padding of focus outlines in Firefox */
  padding:      0;
  border-style: none
}
:-moz-focusring
  /* Restore focus outline - https://github.com/necolas/normalize.css/issues/481 */
  { outline: 1px dotted ButtonText }

html {}
html:focus-within
  { scroll-behavior: smooth /* https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/ */ }

/* SCROLL SNAPPING
  - https://drafts.csswg.org/css-scroll-snap-1/
  - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap/Basic_concepts
*/
body
  { scroll-snap-type: y mandatory }
body > nav {
  background: canvas;
  box-shadow: var(--shadow);
}
body > main
  { scroll-snap-align: start }

body [hidden], template /* IE custom elements */
/*
  -   https://meowni.ca/hidden.is.a.lie.html
  - hidden - https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden
    - until-found
      - https://css-tricks.com/newsletter/295-hidden-until-found/
      - https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden#the_hidden_until_found_state
*/
  { display: none }

header, h1, h2, h3, h4, h5, h6
  { width: 96% }

iframe {
  border: none;
  background: canvas;
}
hr { /* https://www.lifewire.com/styling-horizontal-rule-tag-3466399 */
  border: 0;
  height: .15em;
  opacity: 0.25;
  max-width: 80vw;
  overflow: visible;
  box-sizing: content-box
}

[href='#main'] { /* skip link */
  z-index: 2;
  position: absolute;
  background: canvas;
  white-space: nowrap;
  clip-path: inset(50%);
  margin: var(--line-height);
  padding: 0.1618em 1.1618em;
}
[href='#main']:focus {
  clip-path: unset;
  outline: dotted 0.1em;
  box-shadow: var(--box-shadow);
}
a[href='#'] {
  opacity: 0.3;
  padding: 1em;
  display: block;
  width: fit-content;
  margin: 0 auto 2em;
  text-decoration: none;
}
a[href='#']:hover
  { opacity: 1 }

mark {
  padding: .618em;
  background: mark;
  border-radius: 0.618em;
}
mark::before,
mark::after {
  width: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}
mark::before
  { content: '[highlight start]' }

mark::after
  { content: '[highlight end]' }
data, var
  { outline 0.01681em dotted currrentColor }

pre, code, kbd, samp
  { border-radius: 0.618em }
pre code {
  display: inherit;
  border-radius: unset;
  border: solid currentColor;
  border-width: 0 0 0 0.02em;
}

/* CSS3 Lists
 * https://drafts.csswg.org/css-lists-3/
 * Styling lists - https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
 */
ul[role=list]
  { list-style: none; /* https://piccalil.li/blog/a-modern-css-reset/ */ }
ul, ol
  { list-style-position: inside }
ul ul, ol ol
  { display: block }
ul {}
ol {}
li {}
dl {}
dt {}
dd {}

/* http://html5doctor.com/the-details-and-summary-elements/ */
details { width: 100% }
summary {
  opacity: 0.75;
  list-style: none;
}
summary::-webkit-details-marker
  { display: none }
details:hover > summary, details:focus-within > summary
  { opacity: 1.0 }
summary::before,
summary::after {
  width: 1em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  margin: 0 0.218em;
  text-align: center;
  display: inline-block;
  vertical-align: middle
}
details summary::before
  { content: '>' }
details[open] > summary::before,
details[open] > summary::after
  { content: 'v' }
details > summary::after
  { content: '<' }
nav details summary::before,
nav details > summary::after
  { content: none }
nav details[open] > summary::before,
nav details[open] > summary::after
  { content: none }
nav li details > summary::before {
  margin: 0;
  content: '📁';
  cursor: s-resize;
}
nav li details[open] > summary::before
  { content: '📂'; cursor: n-resize; }


/* Table styling
  - counter styling & fallback
    - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors
    - https://stackoverflow.com/questions/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody/17380697#17380697
*/
table {
  /* TODO: FIX HEIGHT FROM 100vh */
  height: 100vh;
  display: block;
  width: inherit;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-y: scroll;
  table-layout: fixed;
  counter-reset: table;
  outline-width: 0.4em;
  outline-style: double;
  border-radius: 0.618em;
  border-collapse: collapse;
  box-shadow: var(--box-shadow)
}
caption {
  top: 0;
  position: sticky;
  caption-side: top
}
th {
  top: 5.118em;
  position: sticky;
  text-align: inherit;
  text-align: -webkit-match-parent;
}
th {
  padding: 0.618em;
  white-space: nowrap;
}
th:empty
  { border: none }
th[scope=row]
  { font-size: var(--smaller) }
th[scope=row]:after {
  white-space: nowrap;
  content: counter(table);
}
tr
  { position: relative }
tr:before
  { content: '' }
td
  { z-index: -1 }
td:first-of-type
  { border-left: 0.0618em solid }
thead th
  { border-bottom: 0.0618em solid }
tbody
  { position: relative }
table *
  { display: block }
tbody tr
  { counter-increment: table }
tfoot th
  { border-top: 0.0618em solid }
th, thead, tfoot, thead tr, tfoot tr, tbody tr:nth-child(even)
  { background: rgba(0,0,0,0.1618); background: yellow }

a
  { cursor: pointer }
a[rel=search]
  { cursor: help }

abbr[title]
  { cursor: help }

details summary
  { cursor: s-resize }

details[open] summary
  { cursor: n-resize }

meter, progress
  { cursor: progress }

/* indicators */
/* Style meter & progress
 *   - https://codepen.io/matt-west/pen/bpzEy
 *   - https://css-tricks.com/html5-meter-element/
 *   - https://stackoverflow.com/questions/8094835/how-to-style-html5-meter-tag
 */
meter, progress
  { vertical-align: baseline /* Correct vertical alignment in Chrome, Firefox, & Opera. */  }
meter {}
progress {}


/* PWA RELATED */
/* https://caniuse.com/user-select-none */
/* TODO: Use @supports - https://developer.mozilla.org/en-US/docs/Web/CSS/@supports */
/* https://developer.apple.com/library/archive/documentation/AppleApplications/Conceptual/SafariJSProgTopics/DragAndDrop.html#//apple_ref/doc/uid/30001233-178644 */
html, body {
  -webkit-tap-highlight-color: transparent; /* https://davidwalsh.name/mobile-highlight-color */
  -webkit-touch-callout:       none; /* Safari Touch - https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout */
  -webkit-user-drag:           none; /* https://stackoverflow.com/questions/15034842/what-is-the-webkit-user-drag-css-property */
  -webkit-user-select:         none; /* Webkit (Chrome all / Safari all) */
  user-select:                 none; /* https://caniuse.com/user-select-none */
}
/* https://ferdychristant.com/the-world-s-most-overlooked-web-optimization-for-ios-d88c7517d520 */
body > footer
  { -webkit-transform: translatez(0) }
pre, p, q, cite, blockquote, address
/* ... and all id-entifiable headers ... */
, :where(header[id], h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]) {
  -webkit-tap-highlight-color: HighlightText; /* https://davidwalsh.name/mobile-highlight-color */
  -webkit-touch-callout:       inherit; /* Safari Touch - https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout */
  -webkit-user-drag:           auto;    /* https://stackoverflow.com/questions/15034842/what-is-the-webkit-user-drag-css-property */
  -webkit-user-select:         text;    /* Webkit (Chrome all / Safari all) */
          user-select:         text;    /* https://caniuse.com/user-select-none */
}
body > main
  { -webkit-overflow-scrolling: touch }
body > aside
  { -webkit-transform: translatez(0) }
body > footer
  { -webkit-transform: translatez(0) }

a
  { -webkit-touch-callout: default }