/*
  Media Queries:
    - https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
    - display-mode - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/display-mode

  Screen
    - @viewport - https://developer.mozilla.org/en-US/docs/Web/CSS/@viewport
    - concepts - https://developer.mozilla.org/en-US/docs/Web/CSS/Viewport_concepts
    - `display-mode` - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/display-mode
    - Designing websites for iPhone X - https://webkit.org/blog/7929/designing-websites-for-iphone-x
    - Sizes - https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html
    - Adaptivity and Layout - https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout

  Generic Layouts: - https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_mode
    - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_table
    - Containment - https://w3c.github.io/csswg-drafts/css-contain
    - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout
    - Columns
      - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_multicol_layout
      - https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Column_layouts

  Orientation:
    - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/orientation
    - https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Managing_screen_orientation
*/
:root {}

@media ( orientation: portrait ) {
  :root {}
}

*, ::before, ::after {  /* https://stackoverflow.com/questions/7327326 */
  min-width: 0; /* https://defensivecss.dev/tip/flexbox-min-content-size */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_box_model/Introduction_to_the_CSS_box_model */
  box-sizing: inherit; /* https://css-tricks.com/international-box-sizing-awareness-day */
}

html, body {
  /*
    - https://dev.to/tepythai/why-100vw-causes-horizontal-scrollbar-4nlm
    - https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit
    - https://polypane.app/blog/strategies-for-dealing-with-horizontal-overflows
  */
  /* TODO: REFACTOR */
  /* min-width: 100vw; */
  /* min-width: -webkit-fill-available; */  /* Mozilla-based browsers will ignore this. */
  min-width: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-width: stretch;                 /* https://caniuse.com/?search=fill-available */
  min-height: 100vh;                  /* fall-back */
  min-height: -moz-available;         /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  min-height: stretch;                /* https://caniuse.com/?search=fill-available */
  max-width: 90vw;
  background: green;
}

/* boxing - https://paulirish.com/2012/box-sizing-border-box-ftw */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

/*
  CSS Grid:
    - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout

  Flexbox:
    - https://css-tricks.com/snippets/css/a-guide-to-flexbox
    - https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
*/
body {
  display: flex;
  flex-direction: column;
}
body > * { /* all immediate children of <body> */
  width: var(--max-width);
  max-width: var(--max-width);
}
body > header, body > nav, body > main, body > aside, body > footer {}
body > header {}
body > main {}
body > aside {}
body > footer {
  /* top: 100vh; */
  /* position: sticky; */
}

/* Navigations ================================================================== */
body > a[href='#main'] { z-index: 1 }
body > nav {
  top: 0;
  z-index: 1;
  height: 100vh;
  position: fixed;
  /* position: sticky; */
  /* max-height: 90vh; */
  /* overflow-y: auto; */
  width: -webkit-fill-available;
}
body > nav::before {
  height: 5ch;
  display: block;
  color: magenta;
  position: relative;
  content: '<nav>igation';
  background: pink url(http://placekitten.com/400/200) no-repeat;
  background-size: cover;
  background-position: 0 center;
}
body > nav > * {}
body > nav > details { width: 50% }
body > nav > details[open] {
  width: 50%;
  /* background: inherit; */
  /* overflow-y: scroll; */
  /* height: inherit; */
  /* max-height: 90vh; */
}
body > nav > details::before { content: 'shazaam' }
body > nav > details[open]::before {
 content: 'shazaam open'
}

::-webkit-resizer {
    background: red;
    border: 2px solid black;
    outline: 2px solid yellow;
    box-shadow: 0 0 5px 5px blue;
}
