/* multimedia.css
 *
 * CSS SHAPES - https://css-tricks.com/the-shapes-of-css
 *  - Triangles - https://pineco.de/quick-tip-css-triangles
 * CSS IMAGES LEVEL 4 - https://drafts.csswg.org/css-images-4
 * MDN - https://developer.mozilla.org/en-US/docs/Learn/Performance/Multimedia
 *   - border-image - https://developer.mozilla.org/en-US/docs/Web/CSS/border-image
 * Media type & format guide
 *   - https://developer.mozilla.org/en-US/docs/Web/Media/Formats
 *   - https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
 *   - <img> - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img
 *   - <picture> element - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture
 * Web Performance - https://developer.mozilla.org/en-US/docs/Web/Performance
 * Lazy Loading - https://developer.mozilla.org/en-US/docs/Web/Performance/Lazy_loading
 *
 * Responsive Images
 *  - https://www.smashingmagazine.com/2014/05/responsive-images-done-right-guide-picture-srcset
 *  - https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
 *
 * Responsive Videos
 *  - Responsive Video - https://adrianroselli.com/2023/12/media-queries-in-html-video.html
*/

:muted {} /* https://drafts.csswg.org/selectors/#selectordef-muted */
:paused {} /* https://drafts.csswg.org/selectors/#selectordef-paused */
:playing {} /* https://drafts.csswg.org/selectors/#selectordef-playing */
:seeking {} /* https://drafts.csswg.org/selectors/#selectordef-seeking */
:stalled {} /* https://drafts.csswg.org/selectors/#selectordef-stalled */
:buffering {} /* https://drafts.csswg.org/selectors/#selectordef-buffering */

 /* https://addyosmani.com/blog/lazy-loading */
[loading=lazy]  {}
[loading=eager] {}

iframe, img, svg, picture, figure, canvas, audio, video, embed, object {
  width: auto;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}
/* Replaced Elements - https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element */
iframe, audio, video, embed, img {
  max-height: 80vh;
  object-fit: contain;
  object-position: center center; /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-position */
}
picture, figure, canvas, audio, video, embed, object {
  display: block;
  text-align: center;
  border-radius: 1ch;
  margin: 1ch auto var(--line-height);
}
canvas, video, iframe[src*=youtube] {
  width: 100%;
  padding:  0.5ch;
  aspect-ratio: 16/9;
  vertical-align: baseline;
  margin: var(--line-height) auto;
}

@supports not (aspect-ratio: 16 / 9) {
  canvas::before, video::before, iframe[src*=youtube]::before {
    float: left;
    padding-top: 56.25%;
    content: "foo";
  }

  canvas::after, video::after, iframe[src*=youtube]::after {
    display: block;
    content: "foo";
    clear: both;
  }
}

audio:hover, video:hover, iframe[src*=youtube]:hover {
  background: currentColor;
}

img, svg {}
/* overflow bug in IE10/11. https://github.com/twbs/bootstrap/issues/26878 */
svg {
  background: inherit;
}
svg image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

p img , p svg {
  float: left;
  object-fit: cover;
  margin: 0 1em 1em;
  padding-block-start: 0;
}
a img {
  margin: 0;
  opacity: 95%;
  background: Canvas;
}
a:hover img {
  opacity: 100%;
  background: buttonFace;
}
body > footer small ~ a img { max-height: 2.5em }

img, picture {
  a:has(&) {
    border: solid 0.168em;
    border-color: transparent;
    &:hover { border-color: currentColor }
    &::before, &::after { content: unset }
  }
}
img {}
blockquote picture { margin: 0 4ch 1.618em }

figure img, iframe, picture img, audio, canvas, video {
  /* margin: 1ch; */
  /* padding: 1ch; */
  border-radius: inherit;
  box-shadow: var(--box-shadow);
}
figure img, picture img, figure picture {
  /* margin: 1ch auto 0; */
}
figure img, picture img {
  padding: 1ch;
  object-fit: cover;
  clip-path: inset(0 0 round 1ch);
  /* https://smashingmagazine.com/2024/01/css-border-image-property */
  border-image: fill 0 linear-gradient(CanvasText, Canvas);
}

figure {
  background: red;
}
figcaption { opacity: 0.682 }
figure:hover figcaption { opacity: 1.0 }
figcaption::before {
  width: 1em;
  font-size: 1.618em;
  display: inline-block;
}

iframe {
  display: block;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
  overscroll-behavior: contain;
}
audio { /* https://blog.shahednasser.com/how-to-style-an-audio-element */
  height: 3em;
  width: 100%;
  }
audio:not([controls]) {
  height: 0;
  display: none;
}

video { /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video */ }

video:fullscreen {} /*  https://drafts.csswg.org/selectors/#pip-state */
video:picture-in-picture
  /* https://drafts.csswg.org/selectors/#pip-state */
  {
    box-shadow: 0 0 10px 0;
    border: 1ch solid;
  }
canvas {
  width: 100%;
  background: Canvas;
}
