@import url(https://fonts.cdnfonts.com/css/sf-mono); /* https://cdnfonts.com/sf-mono.font */
@import url(https://fonts.cdnfonts.com/css/segoe-ui-4); /* https://cdnfonts.com/segoe-ui-4.font */
@import url(https://fonts.googleapis.com/css2?family=Varela+Round); /* https://fonts.google.com/specimen/Varela+Round */
@import url(https://fonts.googleapis.com/css?family=Nunito&display=fallback); /* https://fonts.google.com/specimen/Nunito */
@import url(https://fonts.googleapis.com/css?family=Rock+Salt&display=block); /* https://fonts.google.com/specimen/Rock+Salt */
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=fallback); /* https://fonts.google.com/specimen/Roboto */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=fallback); /* https://en.wikipedia.org/wiki/Open_Sans */
@import url(https://fonts.googleapis.com/css?family=Noto+Emoji&family=Noto+Sans+Math&display=block); /* https://en.wikipedia.org/wiki/Noto_fonts */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:wght@100..900&display=fallback); /* https://en.wikipedia.org/wiki/Noto_fonts */

/* typography.css
  - http://webtypography.net
  - https://wakamaifondue.com
  - https://w3.org/TR/css-fonts-4
  - https://varvy.com/mobile/legible-font-size.html
  - https://css-tricks.com/dark-mode-and-variable-fonts
  - https://developer.mozilla.org/en-US/docs/Web/CSS/font
  - https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
  - http://designwithfontforge.com/en-US/The_EM_Square.html
  - https://smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp
  - https://smashingmagazine.com/2023/11/addressing-accessibility-concerns-fluid-type
  - https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals
  - https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography

  - 3D Text
    - https://perishablepress.com/3d-text-shadow-css3
    - https://perishablepress.com/tools/css/text-shadow

  - Spaces - http://webtypography.net/2.1.4
  - Special Characters Cheat Sheet - https://typewolf.com/cheatsheet

  - Vertical Spacing
    - http://webtypography.net/2.2.2
    - https://zellwk.com/blog/why-vertical-rhythms
    - https://trentwalton.com/2012/06/19/fluid-type
    - https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align

  - Emoji:
    - Full Unicode List - https://unicode.org/emoji/charts/full-emoji-list.html
*/
:root {
  /*
    - Golden Ratio:
    - https://en.wikipedia.org/wiki/Golden_ratio
    - https://pearsonified.com/2011/12/golden-ratio-typography.php
    - https://adobe.com/creativecloud/design/discover/golden-ratio.html
    - https://pierrickcalvez.com/journal/a-five-minutes-guide-to-better-typography
  */
  --GOLDEN-RATIO: 1.61803398875;

  --margin: 1ch auto;
  --text-align: center;
  --line-length: 75em; /* https://baymard.com/blog/line-length-readability */
  --column-count: 1; /* https://drafts.csswg.org/css-multicol-1 */
  --tab-size: 2; /* https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size */

  /*
  - Vertical rhythm
    - https://24ways.org/2006/compose-to-a-vertical-rhythm

    - https://utopia.fyi
    - https://mastodon.social/@mikemai2awesome/112094222983362704
    - https://adrianroselli.com/2024/03/the-ultimate-ideal-bestest-base-font-size-that-everyone-is-keeping-a-secret-especially-chet.html
  */
  --font-size: clamp(1rem, -1rem + 4vw, 4rem); /* http://webtypography.net/2.1.2 */

  /* https://julian.is/article/iphone-x-notch */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/env */
  --viewport:
      env( safe-area-inset-top, 0.612em ) auto
      env( safe-area-inset-bottom, 0.612em ) auto;

  /* TODO: Convert to relative-sizing (smaller, larger) */
  --smallest: 61.8%;
  --smaller:  80.0%;
  --larger:  120.0%;
  --largest: 161.8%;

  /* https://css-tricks.com/forums/topic/recommended-margin-for-paragraph-tag */
  /* http://webtypography.net/2.1.1 */
  --word-spacing: -0.1em; /* https://w3.org/TR/WCAG21/#text-spacing */
  --line-height: calc( var(--GOLDEN-RATIO) * 1em );
  /* kerning "tracking"
      - https://webtypography.net/2.1.8
      - 5%-12% (0.05em-0.012em) - https://practicaltypography.com/letterspacing.html
      - https://graphicdesign.stackexchange.com/q/2606/difference-between-kerning-vs-letter-spacing
   */
  --letter-spacing: calc( ( var(--GOLDEN-RATIO)  - 1 ) * 0.1 * 1em ); /* https://css-tricks.com/almanac/properties/l/letter-spacing */

  /*
   - CHROME AUTO-RESIZING - https://docs.google.com/document/d/1PPcEwAhXJJ1TQShor29KWB17KJJq7UJOM34oHwYP3Zg/edit
   - https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/AdjustingtheTextSize/AdjustingtheTextSize.html#//apple_ref/doc/uid/TP40006510-SW16
   - Prevent adjustments of font size after orientation changes in iOS and mobile firefox.
   - https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
   - https://caniuse.com/text-size-adjust
  */
  --text-size-adjust: 100%;
  --text-size-adjust: none;
  --text-size-adjust: auto;

  /*
    -  https://devhints.io/css-system-font-stack
    -  https://css-tricks.com/snippets/css/system-font-stack
    - https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
    - https://smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide
  */
  --Math: 'Noto Sans Math', /* https://fonts.google.com/noto/specimen/Noto+Sans+Math */
    Math; /* https://w3.org/TR/css-fonts-4/#valdef-font-family-math */
  --Rounded: 'Varela Round', /* https://fonts.google.com/specimen/Varela+Round */
    UI-Rounded;         /* default user interface rounded font */
  --Serif: 'Noto Serif', 'Oxygen Serif', /* Linux / KDE Plasma 5+ */
    Serif,              /* fallback */
    UI-Serif;           /* default user interface serif font */
  --Sans-Serif: 'Noto Sans', /* Linux / KDE Plasma 5+ https://mail.kde.org/pipermail/distributions/2017-November/000258.html */
    'Lucida Grande',  /* https://en.wikipedia.org/wiki/Lucida_Grande */
    'Helvetica Neue', /* https://creativepro.com/helvetica-vs-neue-helvetica-same-but-different */
    Helvetica, Arial, /* Windows, macOSX, Linux defaults */
    UI-Sans-Serif,    /* default user interface sans-serif font */
    Sans-Serif;       /* fallback */
  --Cursive:
    Fantasy, Cursive, var(--Serif);
  --Monospace:
    Menlo, Monaco,              /* macOS */
    'SF Mono', SFMono,          /* macOS 10.10+ */
    'Roboto Mono',              /* Android 4+ */
    Consolas,                   /* Windows 6+ */
    'Ubuntu Monospace',         /* Ubuntu 10.10+ */
    'Noto Mono', 'Oxygen Mono', /* Linux / KDE Plasma 5+ */
    'Liberation Mono',          /* Linux fallback */
    Courier,                    /* typewriter */
    Monospace,                  /* fallback */
    UI-Monospace;               /* default user interface monospace font */
  --System-UI:
    system,                  /* https://lists.w3.org/Archives/Public/www-style/2015Jul/0169.html */
    -apple-system,           /* "San Francisco", Chrome, macOSX */
    BlinkMacSystemFont,      /* "San Francisco", Chrome, macOS 10.x > */
    'San Francisco', '.SFNSText-Regular', /* macOS 10 */
    'Droid Sans',            /* Android Chrome */
    'Segoe UI', Segoe,       /* Windows 6+ - https://en.wikipedia.org/wiki/Segoe */
    'RobotoRegular', Roboto, /* Android 4+ Chrome */
    Oxygen,                  /* Linux / KDE Plasma 5+ */
    Ubuntu,                  /* Ubuntu 10.10+ */
    Cantarell,               /* Gnome 3+ */
    /* https://w3c.github.io/csswg-drafts/css-fonts-4/#system-ui-def */
    System-UI;               /* fallback https://caniuse.com/font-family-system-ui */
  /* --font-family: system; */
  /* --font-family: menu; */
  /* --font-family: var(--Monospace); */
  /* --font-family: var(--Math); */
  /* --font-family: var(--Rounded); */
  /* --font-family: var(--Sans-Serif); */
  /* --font-family: var(--Serif); */
  /* --font-family: var(--Cursive); */
  --font-family: var(--System-UI);
  /* --font-family: Chalk; */
  /* --font-family: BLOKK; */

  /* Margin collapse bugfix:
    - https://freecodecamp.org/news/what-is-margin-collapse-and-how-to-avoid-it/
    - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
    - https://medium.com/fed-or-dead/margin-collapse-or-why-your-child-element-is-moving-the-parent-b199a0b60497
   */
  --margin-collapse-bugfix: 0.05px;
} /* :root */

/*
  https://css-tricks.com/font-display-masses
  https://css-tricks.com/snippets/css/using-font-face-in-css
  https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face
  https://perishablepress.com/visual-walkthrough-font-face-css
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide
  https://digitalocean.com/community/tutorials/how-to-load-and-use-custom-fonts-with-css
*/
@font-face { /* BLOKK font - https://github.com/los-gordos/BLOKK */
  font-family: BLOKK;
  font-style: normal;
  font-weight: 400;

  src:
    url(./BLOKK.woff2) format('woff2');
} /* @font-face */

@font-face {
  font-family: Chalk;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; /* Required by Chrome */
  size-adjust: 100%; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/size-adjust */
  /* https://apple.stackexchange.com/questions/79875/how-can-i-get-the-postscript-name-of-a-ttf-font-installed-in-os-x */

  src:
    local('DBJ CHALK IT UP') /* Full Name */
  , local('DJBCHALKITUP')    /* Postscript Name */
  , url(chalk.ttf) format('truetype'); /* fallback file location */
/*
    local('chalk') tech(color-COLRv1),
    local('chalk-bold') format('truetype'),
*/
} /* @font-face */

/*
  - https://client9.com/css-color-emoji-stack
  - https://en.wikipedia.org/wiki/Emoticons_(Unicode_block)
  - https://caniuse.com/mdn-css_properties_font-variant-emoji
  - https://w3.org/TR/css-fonts-4/#propdef-font-variant-emoji
  - https://en.wikipedia.org/wiki/Variation_Selectors_(Unicode_block)
  - https://stackoverflow.com/q/4974668/what-is-the-unicode-variation-selector
  - Unicode Emoji Variants -  https://unicode.org/emoji/charts/emoji-variants.html
  - https://coderwall.com/p/ruv9hq/display-emoji-glyphs-intermingled-with-arbitrary-text
*/
@font-face {
  font-family: Emoji; /* 🐰 🥚 */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; /* Required by Chrome */
  src: Emoji, /* 🤷 - https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/src */
    local('Segoe UI Emoji'),    /* Windows emoji */
    local('Segoe UI Symbol'),   /* Windows emoji */
    local('Noto Color Emoji'),  /* Linux emoji */
    local('Apple Color Emoji'), /* macOS emoji */
    local('Wingdings') /* https://en.wikipedia.org/wiki/Wingdings */
  ;
  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
} /* @font-face */

/*
  - Viewport Sizes - https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html
*/
@media screen and ( orientation: portrait ) {
  :root {}
}

@media screen and ( min-width: 768px ) {
  :root {
    --text-align: start;
  }
}

@media screen and ( min-width: 1200px ) {
  :root {
    --column-count: 1;
  }
}

::-moz-selection /* set separately */
  { text-shadow: none }
::selection
  { text-shadow: none }

::spelling-error, ::grammar-error {
  color: inherit;
  background: inherit;
  text-decoration: wavy underline red;
}

* { padding: var( --margin-collapse-bugfix ) 0 }

*::before, *::after, *::marker {
  /* https://seek-oss.github.io/capsize */
  /* https://blog.kizu.dev/cap-height-align */
  /* https://stackoverflow.com/q/8820286/how-to-remove-only-underline-from-aafter */
  font: inherit;
  text-indent: unset;
  vertical-align: middle;
}

html {
  unicode-range: U+0-10FFFF; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/unicode-range */
  -moz-tab-size:  var(--tab-size);
  tab-size:       var(--tab-size);
  /* font-size:      var(--font-size); */
  text-align:     var(--text-align);
  font-family:    var(--font-family);
  line-height:    var(--line-height);
  word-spacing:   var(--word-spacing);
  letter-spacing: var(--letter-spacing);
  word-spacing: 0.16em;
  letter-spacing: 0.12em;
  font-size-adjust: from-font; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust */
  /* font-stretch: semi-expanded; */  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-stretch */
  font-variant-emoji: unicode; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-emoji */
  font-feature-settings: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings */
  font-variant-alternates: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-alternates */
  font-variation-settings: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variation-settings */
  font-display: fallback; /* https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS#the_font-display_property */
  -webkit-text-size-adjust: var(--text-size-adjust);
  -moz-text-size-adjust: var(--text-size-adjust);
  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably */
  -webkit-text-size-adjust: var(--text-size-adjust);
  text-size-adjust: var(--text-size-adjust);
  /* These are technically the same, but use both */
  /* https://css-tricks.com/almanac/properties/w/word-break */
  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr */
  /* https://adrianroselli.com/2024/02/techniques-to-break-words.html */
  /* https://blog.logrocket.com/guide-css-word-wrap-overflow-wrap-word-break */
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container */
  /* https://stackoverflow.com/q/17259916/difference-between-overflow-wrap-and-word-break */
  overflow-wrap:  break-word;
  word-wrap:  break-word;
  -ms-word-break: break-word;
  word-break: break-word;

  /* https://en.wikipedia.org/wiki/Soft_hyphen */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/hyphenate-character */
  -webkit-hyphenate-character: '\2014';
  hyphenate-character: '\2014';

  /*
  - https://css-tricks.com/almanac/properties/h/hyphenate
  - https://css-tricks.com/almanac/properties/h/hyphenate-limit-chars/
  - https://developer.mozilla.org/en-US/docs/Web/CSS/hyphenate-limit-chars
  */
  -webkit-hyphenate-limit-chars-before: 2;
  -webkit-hyphenate-limit-chars-after:  2;
  /* Mozilla - https://bugzilla.mozilla.org/show_bug.cgi?id=1521723 */
  -ms-hyphenate-limit-chars: 5;
  hyphenate-limit-chars: 5;
} /* html */

body {
  margin: var(--margin-collapse-bugfix) 0 auto var(--margin-collapse-bugfix);
  /* https://css-tricks.com/almanac/properties/t/text-rendering */
  /* text-rendering: optimizeSpeed; */
  /* text-rendering: optimizeLegibility; */
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-variant-numeric: slashed-zero; */
  /* font-variant-numeric: oldstyle-nums; */
  font-variant-numeric: tabular-nums slashed-zero oldstyle-nums;
  /* font-variant-numeric: diagonal-fractions; */
  /* font-variant-numeric: stacked-fractions; */
} /* body */

body * {}
body > * { margin: var(--viewport) }

body > header {
  text-align: center;
  margin: var(--margin-collapse-bugfix) auto;
}
body > nav {
  text-align: left;
  margin: var(--margin-collapse-bugfix) 0 1ch;
}
body > nav::before {
  /* padding: 0.5ch; */
  /* line-height: 1em; */
}

body > main {}
body > aside {}
body > footer {
  padding: 1ch;
  font-size: small;
}

main > section:first-of-type, body > aside {}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 * - http://webtypography.net/3.1.1
 */
hgroup {}
header + header { font-size: 90% }
:where( header, h1, h2, h3, h4, h5, h6 )[id]::before {
  font-size: inherit;
  line-height: inherit;
}
a:has( header, h1, h2, h3, h4, h5, h6 ) {}
:where( header, h1, h2, h3, h4, h5, h6 ) > :is( a ),
:is( a ) > :where( header, h1, h2, h3, h4, h5, h6 ) {}
:where( header, h1, h2, h3, h4, h5, h6 ) > :is( a ) { margin: 0 }
:is( a ) > :where( header, h1, h2, h3, h4, h5, h6 ) { margin: 0 auto }

header, h1, h2, h3, h4, h5, h6 {
  margin: 1em auto;
  line-height: 2em;
  font-weight: bold;
  text-wrap: balance;
  justify-content: var(--text-align);
  background: rgba(100,100,100,0.5);
  padding: var(--margin-collapse-bugfix) 0;
  text-shadow: 0.05em 0.05em 0.2em var(--text-shadow);
}
:where( header, h1, h2, h3, h4, h5, h6 )::before,
:where( header, h1, h2, h3, h4, h5, h6 )::after {
  text-align: center;
  white-space: nowrap;
  padding-inline: 0.1618ch;
}
:where( header, h1, h2, h3, h4, h5, h6 )::before {
  background: inherit;
  margin-inline-end: 0.5ch;
}
:is( header, h1, h2, h3, h4, h5, h6 )::after
  { margin-inline-start: 0.5ch }
h1 {
  font-size: 2em;
  line-height: 2em;
}
header {
  /* http://webtypography.net/3.2.1 */
  /* http://webtypography.net/3.2.2 */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-caps */
  font-variant-caps: small-caps;
}
header[role=banner] {
  padding: 0;
  padding: 10vmin 0; /* - https://css-tricks.com/simple-little-use-case-vmin */
}
section > header, nav > header {
  padding: 0;
  max-width: 100%;
  margin: var(--margin-collapse-bugfix) auto;
  font-size: calc( var(--largest) * var(--GOLDEN-RATIO) );
}
header *
  { text-transform: initial }
header var, h1 var,
header code, h1 code
  { font-variant-caps: initial }


/* anchor links */
a {
  padding: 0 0.2ch;
  text-indent: unset;
  text-underline-offset: 0.168em;
  text-decoration-line: underline;
  text-underline-position: from-font;
  text-decoration-thickness: 0.168em;
  text-decoration-color: transparent;
  -webkit-text-decoration-skip-ink: auto;
          text-decoration-skip-ink: auto;
}
a::before, a::after {
  display: inline-block;
  white-space: pre-wrap;
  text-decoration: none;
}
a:hover, header a:hover {}
a:hover { text-decoration-color: currentColor }

li > a { vertical-align: top }
cite > a, sup > a, sub > a {
  padding: 0;
  max-width: 12em;
  overflow: hidden;
  white-space: nowrap;
  line-height: initial;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
}

nav > a {
  margin: 1ch;
  text-align: start;
}
a:link.logo {
  font-size: 2em;
  line-height: 2em;
  white-space: nowrap;
  margin-bottom: 0.2em;
}

hr { /* https://lifewire.com/styling-horizontal-rule-tag-3466399 */
  color: currentColor;
  margin: 3.612em auto;
  background-color: currentColor;
}

mark {}

time {
  font-size: medium;
  padding: 0 0.628ch;
  margin: 0.5ch;
  white-space: nowrap;
  line-height: 1.6182em;
  font-family: var(--Monospace);
  /* font-variant-numeric: ordinal tabular-nums; */
}
time::before {
  margin-right: 0;
  padding: 0.168ch;
}
time::after {
  font-size: smaller;
  padding-inline: .5em;
}
time[datetime] { padding: 0.628ch }
time[datetime]::after{ margin-top: 0.1682ch }
p > time[datetime] {
  margin: unset;
  padding: 0 0.628ch;
  vertical-align: middle;
}

[data-icon]::before { margin-right: 0.5ch }
[role=tree] li[data-icon]::before {
  margin: unset;
  margin-left: -1ch;
  vertical-align: top;
}
[role=toolbar] > [data-icon]::before { margin-right: unset }


/* CSS3 Lists
 * https://drafts.csswg.org/css-lists-3
 * https://perishablepress.com/css-center-align-list-left-align-text
 * Styling lists - https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
 */
dl, ol, ul {
  text-align: left;
  margin: var(--margin-collapse-bugfix) auto var(--line-height);
}
ol, ul { text-indent: initial }
p + :is( dl, ol, ul ) { margin-top: 1.68em }
:is( ol, ul )::marker {}
ul { margin-left: 2em }
ol {}
:is( [role=toolbar], [role=menubar] ) { margin: unset }
:is( dl, ol, ul )
  :is( dl, ol, ul ) {
    width: auto;
    margin-bottom: var(--margin-collapse-bugfix);
  }
:is( dl, ol, ul )
  ol { margin: 0 0 0 auto }
:is( dl, ol, ul )
  ul { margin: 0 0 0 1em }
li { text-indent: unset }
li::marker {}
li::before, li::after { text-align: center }
li::before {}
li::after { margin-left: 0.5ch }
li li {}
:is( ol, ul )
  > li { padding: 0 0.5ch }
ol > li {}
ol > li::marker {
  font-size: large;
  font-weight: bold;
}
ol > li::before { margin-left: 0ch }
ol > li::after  {}
ul > li {}
ul > li::marker {}
ul > li::before {}
ul > li::after {}
:is( [aria-orientation=horizontal], [role=toolbar], [role=menubar] )
  li { padding: unset }
[aria-orientation=horizontal]
  li { margin: 0 auto }
:is( [role=toolbar], [role=menubar] )
  li { margin: unset }

:is( dl, ol, ul, menu, [role=feed] ):is( [aria-label], [data-icon] )::before {
  margin: 0;
  padding: .25ch;
  font-size: inherit;
  font-weight: bolder;
  line-height: inherit;
  text-transform: capitalize;
}
dd, dt {
  text-indent: inherit;
}
dd, li {
  padding: var(--margin-collapse-bugfix) 0;
  margin: var(--margin-collapse-bugfix) auto 0;
}
dd {
  margin-left: 1em;
  padding-left: 0.618em;
}
dd > :is( dl, ol, ul ) { margin: 0 0 0 1.68ch }
dt {
  text-indent: .5em;
  font-weight: bold;
  line-height: 3.618ch;
  margin-top: 0.6182ch;
  padding: var(--margin-collapse-bugfix) 0;
}
dt + dt {
  margin-block: var(--margin-collapse-bugfix);
}
dt[role=term]::before,
dd[role=definition]::before {
  font-size: large;
  font-weight: bolder;
  margin-right: 0.5ch;
}
dd[role=definition] > :is( dl, ol, ul ) { margin-left: 2em }

details :is( details, dl, ol, ul ) { margin-bottom: unset }

[role=none], [role=presentation] {}
:is( [role=none], [role=presentation] )
  li { padding: 0 }

:is( [role=none], [role=presentation] )
  :is( ol, ul, menu ) { margin: 0 }
:is( [role=none], [role=presentation] )
  li::before { margin-right: .5ch }

:where( dl, ol, ul )[role=none] {
  margin: 0 auto;
}
:where( dl, ol, ul )[role=feed] {
  margin: .5ch;
  padding: .5ch 0;
}
[role=menu] { margin: 0 auto }
[role=menu] li {}

[role=marquee][aria-orientation=horizontal] {
  flex-wrap: nowrap;
  font-size: larger;
  margin-left: auto;
}
[aria-orientation=horizontal] li {
  margin: 0;
  padding: 0.25em;
  white-space: nowrap;
  word-break: keep-all;
}
[role=toolbar] :is( ol, ul, menu ),
[aria-orientation=horizontal] :is( ol, ul, menu ) {
  margin: unset;
  width: fit-content;
  white-space: nowrap;
  min-width: -webkit-fill-available;
}
:is( menu, [role=menu] ) [role=toolbar] {
  margin: 0 0.2ch;
}
:is( menu, [role=menu] )
  > li > * { margin: unset }
[role=toolbar] > li::before { margin: 0 }

[role=tree] :is( dl, ol, ul, menu ) {
  margin: 0;
  /* margin: auto; */
  border-left: .1ch solid;
}
nav > :is( dl, ol, ul ) {
  margin: var(--margin-collapse-bugfix) 0;
  padding: var(--margin-collapse-bugfix) 0;
}
nav dd, nav li {}
nav dt + dd, nav li li:first-of-type
  { margin-top: 0 }
details > dl, details > dd,
details > ol li, details > ul li {}
nav > details > ul {}



abbr {} /* http://webtypography.net/3.2.2 */
abbr[title] {
  /* font-size: 120%; */
  font-weight: bolder;
  /* text-transform: uppercase; */
  text-underline-offset: 0.16em;
  text-underline-position: auto;
  text-decoration-skip-ink: none;
  text-decoration: none;
  border-bottom: dotted 0.168em;
  /* font-variant-caps: all-small-caps; */
}

del, s {
  opacity: 0.618;
  text-decoration-style: wavy;
  text-decoration: line-through;
}
del { text-decoration-color: ActiveText }
ins { text-decoration-color: HighlightText }

del::before
  { content: '−' /* https://en.wikipedia.org/wiki/Dash */ }

ins::before { content: '+' }

em { /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis */ }
b, strong { font-weight: bolder }
b {}

/* https://edgee.net/what-font-size-should-you-use-for-body-copy-text-and-why */
/* 16x0.81=13 */
p {
  padding: 0 0.5em;
  text-align: start;
  font-size: inherit;
  line-height: inherit;
  max-width: var(--line-length);
  display: flow-root; /* https://css-tricks.com/display-flow-root */
  margin: var(--margin-collapse-bugfix) auto 1.68em;
  text-wrap: pretty; /* https://developer.chrome.com/blog/css-text-wrap-pretty */
}
p + p { margin: 1.68em auto var(--margin-collapse-bugfix) }

/* https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/autocapitalize */
[autocapitalize] { text-indent: 1em }
[autocapitalize=words]{ text-transform: capitalize }
[autocapitalize=characters] { text-transform: uppercase }
[autocapitalize=characters] { text-transform: uppercase }
[autocapitalize=off], [autocapitalize=none] { text-transform: none }
[autocapitalize=off] a, [autocapitalize=none] a { text-decoration: initial }

[autocapitalize=words], [autocapitalize=characters], [autocapitalize=sentences],
[autocapitalize=on]::first-line, [autocapitalize]::first-letter {
  color: ActiveText;
  font-size: larger;
  font-weight: bold;
}
[autocapitalize]::first-letter {
  text-indent: 0;
  letter-spacing: -0.05em;
}
[autocapitalize]::first-letter, [autocapitalize]::first-line {
  font-size: 1.6182em;
}
[autocapitalize]:not([autocapitalize=on]):not([autocapitalize=words]):not([autocapitalize=characters]):not([autocapitalize=sentences])::first-letter {
  float: left;
  line-height: 1;
  font-size: 210%;
  display: inline-block;
  padding-right: 0.25ch;
}
[autocapitalize] * {
  font-size: inherit;
  text-indent: initial;
  text-decoration: revert;
}

code, kbd, pre, samp, var, data {
  padding: 0 0.5em;
  text-indent: initial;
  line-height: initial;
  font-family: monospace;
  vertical-align: text-bottom;
}
code {
  white-space: nowrap;
  vertical-align: middle;
}
code :is( var, data ) { padding: 0 }
pre code { white-space: break-spaces }
var, data {
  margin: 0 .1618em;
  font-weight: bold;
}
kbd {
  text-align: center;
  font-size: inherit;
  white-space: nowrap;
  line-height: initial;
  text-transform: uppercase;
}
samp > kbd {
  padding: initial;
  text-transform: inherit;
}
pre {
  width: calc(100% - 2ch);
  overflow: overlay;
  text-align: initial;
  line-height: inherit;
  margin: var(--margin-collapse-bugfix) auto 2em;
}
pre > code {
  margin: 1ch;
  font-size: larger;
  line-height: inherit;
}
pre > samp kbd {
  font-size: large;
  font-weight: bold;
}
samp {}
samp > kbd::before { font-size: 1.68em }

math {
  padding: 0.5ch;
}
math[display=inline] {}
math[display=block] {
  padding: 1ch;
  margin: 1ch auto;
  font-size: xx-large;
  font-family: var(--Math);
}
math::before, math::after {}
math::before {}
math::after {}


figcaption {
  font-size: 86%;
  font-style: italic;
}

q { /* quotes */
  font-style: italic;
  border-radius: 1ch;
  padding-inline: 0.5ch;

   /*
    - https://cl.cam.ac.uk/~mgk25/ucs/quotes.html
    - https://tympanus.net/codrops/css_reference/quotes/
    - https://developer.mozilla.org/en-US/docs/Web/CSS/quotes
  */
  quotes:
    "\201C" "\201D"
    "\2018" "\2019"

    "\201C" "\201D"
    "\2018" "\2019"

    "\201C" "\201D"
    "\2018" "\2019"; /* quotes */
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
q::before, q::after { font-size: medium }

p q, q q {
  font-size: smaller;
  padding-inline: initial;
}

/*
  - http://webtypography.net/2.3.3
*/
blockquote {
  text-align: left;
  font-size: larger;
  font-family: auto;
  padding: 1.68em 6%;
  margin: 1.68em auto;
}
blockquote::before, blockquote::after {}
blockquote::before {
  line-height: 1.6182ch;
}
blockquote p {
  text-align: start;
  font-style: oblique;
}
blockquote p:first-of-type::first-letter {
  margin: 0;
  float: left;
  line-height: 1;
  font-size: 260%;
  font-weight: bold;
  font-style: initial;
  display: inline-block;
}
cite {
  opacity: 75%;
  font-size: smaller;
  white-space: nowrap;
  line-height: inherit;
}
cite::before, cite::after {}
cite::before { content: '\2014 ' }

blockquote cite, q cite {}
blockquote::after, blockquote cite {
  display: block;
  text-align: end;
  max-height: 1.68em;
  font-size: xx-large;
  font-family: cursive;
  margin: var(--margin-collapse-bugfix) 1.6821vw;
  padding: var(--margin-collapse-bugfix) 1.6821vw;
}
blockquote cite { margin-top: -1em }
blockquote cite::before { content: normal }
q cite {
  max-width: 21ch;
  overflow: hidden;
  font-size: x-small;
  vertical-align: middle;
  text-overflow: ellipsis;
}

small { font-size: smaller }

sub, sup { /* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
vertical-align: unset;
}
sup {
  top: -.418em;
  position: relative;
}
sub {
  top: 0.418em;
  position: relative;
}

address {
  font-size: larger;
  width: fit-content;
  padding: 1em 1.68em;
  margin: var(--margin-collapse-bugfix) auto 1em;
}
article address, body > footer address, [contentinfo] address { font-family: monospace }
body > footer address, [contentinfo] address {
  border: solid;
  margin: 1em auto;
  border-width: 0.1ch 0;
}
article address {}

ruby {
  margin: 1ch;
  text-align: center;
  font-size: xx-large;
  padding: 1.68ch 1ch;
}

article { margin: 0 .5ch .5ch }



/* Table styling */
table {
  font-size: small;
  margin: 1ch auto;
  font-variant-numeric: tabular-nums slashed-zero stacked-fractions;
}
table::before, table::after {
  text-indent: 1ch;
  margin-inline: 1ch;
}
table::before { margin-block-start: 1ch }
table::after { margin-block-end: 1ch }

table > * { margin-inline: 1ch }
table tr > * {
  text-align: inherit;
  line-height: calc(1em * var(--GOLDEN-RATIO));
}
table tr::before, table tr::after,
table tr > *::before, table tr > *::after {
  font-size: smaller;
  text-align: center;
  white-space: nowrap;
  line-height: 1.681em;
  writing-mode: horizontal-tb;
}
table tr > *::before { margin-right: 1ch }
table tr > *::after  { margin-left: 1ch }

table > thead, table > tfoot, table > tbody {}
table > thead::before, table > tfoot::before, table > tbody::before, table > caption::before,
table > thead::after, table > tfoot::after, table > tbody::after, table > caption::after {
  text-indent: 1ch;
  line-height: calc(1em * var(--GOLDEN-RATIO));
}

table > caption {
  padding: 1ch;
  margin: 1ch 0;
  text-align: inherit;
  line-height: calc(var(--GOLDEN-RATIO) * 1em);
}
table > caption::before, table > caption::after {
  margin-block: 1ch;
}

table > thead { padding-inline: 1ch }
table > thead::before, table > thead::after { margin-block: 1ch }

table > tfoot {}
table > tfoot::before, table > tfoot::after { margin-block: 1ch }

table > tbody { padding-block: 1ch }
table > tbody::before, table > tbody::after { margin-inline: 1ch }

tbody tr { margin-inline: 1ch }



details { /* details */
  margin: 0 auto;
  padding: 0 1ch;
  text-align: start;
}
details[open] { padding-bottom: 1ch }
details[open]:is( [role=none], [role=menu], [role=menubar], [role=toolbar], [role=tree] )
  { padding-bottom: unset }
details:is( [role=none], [role=tree], [role=menu], [role=toolbar] )
  summary { font-weight: normal }
details[role=tree] details {
  padding: u;
  margin-left: -1ch;
  vertical-align: top;
}
details[role=tree][open] details { padding-bottom: unset }
nav details, nav summary {
  margin: var(--margin-collapse-bugfix) auto;
  padding: var(--margin-collapse-bugfix) auto;
}
nav details {}
nav > details[open] {
  list-style-type: '😊';
  padding-block-end: 1ch;
}
summary {
  margin: 0 -1ch;
  padding: 0 1ch;
  font-size: larger;
  font-weight: bolder;
}
[name] > summary {
  padding: 1ch;
  color: unset;
  display: block;
  background: unset;
  font-weight: 600;
}
summary::before, summary::after {
  margin: 0 .5ch 0 0;
  text-align: center;
  line-height: normal;
  vertical-align: middle;
}



/* Navigations ================================================================== */
nav {}
nav > * {}


/* fieldset / legend */
fieldset {}
legend {
  font-weight: bold;
  line-height: 1.682em;
  margin-block: 1ch auto;
  font-size: var(--larger);
  font-variant-caps: small-caps;

  &:has(> header) {
    &::before, &::after {
      margin: 0;
      padding: 0;
      content: '';
    }
  }

  > header {
    font: inherit;
    margin: initial;
    line-height: inherit;
    display: inline-block;
  }

  &::before, &::after {
    text-align: center;
    padding-inline: 0.5ch;
  }
  &::before { margin-inline-end: 0.5ch }
  &::after  { margin-inline-start: 0.5ch }
}


/* SVG ================================================================== */
svg {
  margin: 0 auto;
  vertical-align: middle;
}
text{
  text-anchor: middle;
  dominant-baseline: middle;
}

