@import url('https://fonts.googleapis.com/css2?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Nunito:bold,italic,bolditalic');

/*
  - W3C:
    - CSS Fonts https://www.w3.org/TR/css-fonts-4
    - https://w3c.github.io/csswg-drafts/css-fonts/
  - https://zellwk.com/blog/why-vertical-rhythms
  - https://trentwalton.com/2012/06/19/fluid-type/
  - https://varvy.com/mobile/legible-font-size.html
  - http://mikeyanderson.com/optimal_characters_per_line
  - https://pearsonified.com/2011/12/golden-ratio-typography.php
  - https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/

  - CSS System Colors
    - https://www.w3.org/TR/css-color-3/#css-system
    - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#System_Colors
*/

:root {

  /* https://julian.is/article/iphone-x-notch/ */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/env */
  --viewport:env( safe-area-inset-top, 0.612em )
    auto
    env( safe-area-inset-bottom, 0.612em )
    auto;

  --tab-size: 4;

  --larger: 120%;

  --smaller: 80%;

  --largest: 161.8%;

  --smallest: 61.8%;

  --font-size: 2.618vw;

  --column-count: 1; /* https://drafts.csswg.org/css-multicol-1 */

  --text-align: center;

  --margin: 0.67em auto;

  --line-height: 1.618em;

  --word-spacing: -0.01681em;

  --text-size-adjust: 100%; /* https://blog.55minutes.com/2012/04/iphone-text-resizing/ */

  /* kerning "tracking"
      - 5%-12% (0.05em-0.012em) - https://practicaltypography.com/letterspacing.html
      - https://graphicdesign.stackexchange.com/questions/2606/difference-between-kerning-vs-letter-spacing
   */
  --letter-spacing: -0.05em;

  --p-margin: 0 1.618em var(--line-height); /* https://css-tricks.com/forums/topic/recommended-margin-for-paragraph-tag/ */

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  /* https://devhints.io/css-system-font-stack */--font-family:var(--system-ui);--font-family: chalk;

  --font-family-serif:
    ui-serif;

  --system-ui:
    system-ui,   /* https://caniuse.com/font-family-system-ui */-apple-system,           /* macOS 10.11-10.12 */
    BlinkMacSystemFont,      /* macOSX, Chrome */
    'segoe ui', segoe,       /* Windows 6+ */
    'RobotoRegular', roboto, /* Android 4+ */
    helvetica, arial,        /* Windows, macOSX, Linux defaults */
    ubuntu,                  /* Ubuntu 10.10+ */
    cantarell,               /* Gnome 3+ */
    'noto sans', oxygen,     /* KDE Plasma 5+ https://mail.kde.org/pipermail/distributions/2017-November/000258.html */
    ui-sans-serif, sans-serif, /* fallback */
    'Apple Color Emoji',     /* macOS emoji */
    'Segoe UI Emoji',        /* Windows emoji */
    'Segoe UI Symbol',       /* Windows emoji */
    'Noto Color Emoji',      /* Linux emoji */
    emoji;                   /* 🤷 */

  --font-family-mono:
    menlo, sfmono-regular,
    menlo, monaco, consolas, /* macOS 10.10+ */
    consolas,                /* Windows 6+ */'Roboto Mono',           /* Android 4+ */
    'Ubuntu Monospace',      /* Ubuntu 10.10+ */
    'Noto Mono',             /* KDE Plasma 5+ */
    'Oxygen Mono',           /* KDE Plasma 4+ */
    'Liberation Mono',       /* Linux/OpenOffice fallback */
    Courier,                 /* typewriter */
    ui-monospace, monospace; /* fallback */

  /* Margin collapse bugfix:
   *   - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
   *   - https://medium.com/fed-or-dead/margin-collapse-or-why-your-child-element-is-moving-the-parent-b199a0b60497
   */
  --margin-collapse-bugfix: 0.02px;
}

::-moz-selection /* set separately */
  { text-shadow: none }
::selection
  { text-shadow: none }

@font-face { /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
  font-family: chalk;
  font-style: normal;
  font-weight: 300;
  src: url(chalk.ttf);
/*
  src:
    local('chalk') tech(color-COLRv1),
    local('chalk-bold') format('truetype'),
    url('chalk.ttf') format('truetype');
*/
}

/*
  - Viewport Sizes - https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html
*/
@media screen and (min-width: 768px) {
  :root {
    --font-size: 2vw;
    --text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --column-count: 1;
    --font-size: 1.618vw;
  }
}

* {
  margin: auto;
  /* https://css-tricks.com/what-you-should-know-about-collapsing-margins/ */
  padding-top:   var(--margin-collapse-bugfix);
  margin-bottom: var(--margin-collapse-bugfix)
}

html {
  unicode-range: U+0-10FFFF; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/unicode-range */

  font-size:      var(--font-size);
  text-align:     var(--text-align);
  font-family:    var(--font-family);
  line-height:    var(--line-height);
  word-spacing:   var(--word-spacing);
  letter-spacing: var(--letter-spacing);
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size */
  -moz-tab-size:  var(--tab-size);
       tab-size:  var(--tab-size);
  /* Prevent adjustments of font size after orientation changes in iOS.
   * https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  -webkit-text-size-adjust: var(--text-size-adjust);
          text-size-adjust: var(--text-size-adjust);

  font-stretch: normal;
  font-variant: normal;
  font-size-adjust: 0.5;
  font-display: fallback; /* https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS#the_font-display_property */
  font-feature-settings: normal;
}

::before, ::after
  /* https://stackoverflow.com/questions/7327326/what-is-the-difference-between-before-and-before */
  { text-decoration: inherit }

body
  { margin: 0 auto }

body > * {
  margin: var(--margin);
  margin: var(--viewport)
}

body > header, body > footer
  { margin: 0 }

body > header,
body > main,
body > aside,
body > footer
  { outline: 0.3em dashed }

body > header { }
body > main   { }
body > aside {
  font-size: inherit;
  background: rgba(168,168,168, 0.168);
}
body > footer { }

nav {
  margin-bottom: 1.618em;
}
body > nav > details > summary {
  text-align: var(--text-align)
}
body > nav {
  padding: 0;
  width: 100%;
  background: rgba(168,168,168, 0.4);
}
body > nav details[open] {
  padding-bottom: 1.168em;
}
body > nav a {
  margin-left: 0;
  display: inline-block;
  padding: 0 1.168em 0 0.168em;
}

/* hyperlinks */
a {
  margin:  .1em;
  padding: .1em;
  display: inline-block;
  text-underline-offset: 0;
  text-decoration-style: auto;
  text-decoration-color: transparent;
  text-decoration-thickness: .168em;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;

  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens */
  /* https://css-tricks.com/almanac/properties/w/word-break/ */
  -webkit-hyphens: auto;
  hyphens: auto;
}
a:hover {
  text-decoration-style: solid;
  text-decoration-color: ActiveText;
}
a::before, a::after {
  padding: 0 .3em;
  margin: 0 0.168em;
  display: inline-block;
  text-decoration: none;
}

a.logo {
  font-size: 2em;

  line-height: 2em;
  white-space: nowrap;
  margin-bottom: 0.2em
}
nav li a:hover {
  font-weight: bolder;
  text-decoration: none;
}


hr { /* https://www.lifewire.com/styling-horizontal-rule-tag-3466399 */
  color: currentColor;
  margin: 3.612em auto;
  background-color: currentColor;
}

ul, ol, dl {
  text-align: start;
  padding-left: unset;
  font-size: var(--larger);
  margin: 1em 1em 2.618em;
}
ul ul, ol ol, dl dl {
  opacity: 80%;
  margin-top: 0;
  font-weight: normal;
  font-size: var(--smaller)
}
nav ol, nav ul {
  font-size: 1em;
  list-style: none;
  margin-bottom: 0;
  margin-left: 1.618em;
}
li, dd
  { margin: 0 0 1em 1em }
nav li, nav li {
  margin: 0;
  padding-bottom: 0
}
dt {
  font-weight: bolder;
  margin-top: 1.618em
}
dd, li li { font-size: var(--smaller) }
dt + dd, li li:first-of-type
  { margin-top: 1em }
nav dd, nav li li
  { font-size: 1em }
nav dt + dd, nav li li:first-of-type
  { margin-top: 0 }
abbr[title] {
  border-bottom: 0;
  text-decoration-skip-ink: none;
  text-decoration: underline dotted;
}

del, s {
  opacity: 0.618;
  text-decoration: line-through;
  text-decoration-style: wavy
}
del {
  text-decoration-color: ActiveText
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3, h4, h5, h6, header {
  font-weight: bold;
  margin: var(--margin);
  padding-left: 1.168rem;
  text-shadow: 0.05em 0.05em 0.2em var(--shadow)
}
h1 {
  /* TODO: calc () */
  font-size:   2em;
  line-height: 2em;
}
body > h1 { padding-left: 0; }

header {
  font-size: var(--larger);
  text-transform: uppercase
}
header *
  { text-transform: initial }
em {
  /* text-emphasis-style, text-emphasis-color */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis */
  text-emphasis: 'x';
  -webkit-text-emphasis: 'x';
  text-emphasis: filled currentColor;
  -webkit-text-emphasis: filled currentColor;
}
b, strong
  { font-weight: bolder }
p
  { margin: var(--p-margin) }

pre, code, kbd, samp {
  text-align: start;
  padding: 0 0.618em;
  display: inline-block;
  background: rgba(0,0,0,0.1);
  font-family: var(--font-family-mono)
}
pre {
  margin: 1em;
  padding: 1em;
}
figcaption {
  font-size: 86%;
  font-style: italic;
}

/* quotes */
q {
  quotes: '“' '”' '‘' '’';
  font-size: var(--smaller);
  font-style: italic
}
q::before
  { content: open-quote }
q::after
  { content: close-quote }
blockquote { /* https://isotropic.co/the-best-css-styling-for-blockquotes/ */
  opacity: 80%;
  font-style: italic;
  line-height: 1.618em;
  margin: var(--margin);
  font-size: var(--larger);
}
blockquote::before {
  opacity: 60%;
  display: block;
  background: red;
  font-size: 300%;
  content: open-quote;
  margin-bottom: -.4em
}
cite {
  opacity: 75%;
  font-weight: bolder;
  white-space: nowrap
}
cite::before
  { content: ' — ' /* https://en.wikipedia.org/wiki/Dash */ }
q
  + cite {
    font-size: 70%;
    font-weight: normal
  }

del::before, ins::before
  { font-family: var(--font-family-mono) }

del::before
  { content: '−' /* https://en.wikipedia.org/wiki/Dash */ }

ins::before
  { content: '+' }

small
  { font-size: 80% }

sub, sup {
/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup
  { top: -0.5em }
sub
  { bottom: -0.25em }

svg {
  vertical-align: middle
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1.618em
}

/* Table styling
 */
table {}
caption {
  padding: 1em 0;
  font-weight: bold;
  background: Canvas;
  font-size: var(--larger);
  line-height: var(--largest);
}


details {
  padding: 0 0 0 1.618em;
  margin: var(--margin);
  text-align: var(--text-align)
}
body > header details
  { padding-left: 0 }
summary {
  text-align: start;
  font-weight: bolder;
  font-size: var(--larger);
  padding-bottom: 0.618em;
  margin-left: -1.618em /* compensate for <details> padding */;
}
details > summary
{ margin-left: 0 }
details > dl, details > dd,
details > ol li, details > ul li
  { margin-left: 0 }
nav details, nav summary {
  margin: 0;
  padding: 0
}
nav summary
  { white-space: nowrap }
fieldset
  { }
legend {
  padding: 0;
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE. */
  font-size: var(--larger);
  font-weight: bold;
  white-space: normal;
  margin-bottom: 0.618em;
  line-height: inherit;
}
